<div class="container-fluid">
   <div class="side-body">
      <div class="row" data-ng-controller="FlowController as ctrl" data-ng-init="ctrl.loadConfigInfo();">
        <div class="intestazione col-sm-12 col-sm-12 col-xs-12">
          <div id="headerTopic" class="col-md-6 col-sm-6 col-xs-6">
          <h2><i class="fas fa-play-circle"></i> Execute</h2>
        </div>
        <div id="configInfo" class="col-md-6 col-sm-6 col-xs-6">
          <div class="col-sm-12 text-right">
            <h4 class="text-primary">Current version: <span class="text-info">{{ctrl.configInfo.id}}</span></h4>
          </div>
          <div class="col-sm-12 text-right">
            <h4 class="text-primary">Deployed on: <span class="text-info">{{ctrl.configInfo.time | date : 'd MMMM yyyy H:mm:ss'}}</span></h4>
          </div>
        </div>
        </div>
            <form id="testingForm" class="reset">
              <div class="col-sm-12" style="margin-top:10px">
                  <div class="form-group clearfix">
                     <label id="labelLeft" class="control-label optionForm col-sm-2">Operation</label>
                     <div class="col-sm-5">
                        <select id="flow" name="flow"
                           class="select-form" data-ng-model="flow"
                           data-ng-options="entry.operation group by entry.service for entry in operations"
                           required>
                           <option value="">Choose operations</option>
                        </select>
                        <p style="margin: 0">
                           <span data-ng-show="taskForm.submitted && taskForm.flow.$error.required" class="text-warning">
                           <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                           Required
                           </span>
                        </p>
                     </div>
                  </div>
                  <div class="form-group clearfix">
                     <label id="labelLeft" class="control-label optionForm col-sm-2">Body</label>
                     <div class="col-sm-10">
                        <textarea id="noTab" class="form-control" rows="5" data-ng-model="service.object"></textarea>
                     </div>
                  </div>
                  <div class="form-group clearfix">
                     <label id="labelLeft" class="control-label optionForm col-sm-2">Credentials</label>
                     <div class="col-sm-5"><input name="username_properties" type="text" class="input-form" data-ng-model="username" placeholder="Username"></div>
                     <div class="col-sm-4"><input name="password_properties" type="password" class="input-form" data-ng-model="password" placeholder="Password"></div>
                  </div>
                  <br></br>
                  <div class="form-group clearfix">
                     <label class="control-label optionForm col-sm-2">Properties</label>
                     <div class="col-sm-5"><input type="text" class="input-form" data-ng-model="key" placeholder="Key"></div>
                     <div class="col-sm-4">
                       <input type="text" class="input-form" data-ng-model="value" placeholder="Value"></div>
                     <button class="btn btn-success pull-right" type="button" id="fabuttonplus" data-ng-click="addParameter()"><i class="fas fa-plus"></i> Add</button>
                  </div>
                  <div data-ng-repeat="(key,param) in service.properties">
                     <div class="form-group clearfix col-sm-12">
                        <div id="propertiesLeft" class="col-sm-offset-2 col-sm-5 col-xs-6"><strong>{{key}}</strong></div>
                        <div id="propertiesRight" class="col-sm-5 col-xs-6">
                          {{param}}
                          <button type="button" class="pull-right btn-sm btn-danger " data-ng-click="removeParameter(key)"><i class="fas fa-times"></i></button>
                        </div>
                     </div>
                  </div>
            </div>
            <div>
              <div class="row col-sm-12" style="padding:0px;">
                <div id="outputBackground" class="col-sm-12">
                 <h2>Output</h2>
                 <textarea id="outputArea" class="form-control col-md-10" rows="10" cols="50" readonly>{{output}}</textarea>
               </div>
              </div>
              <div class="divAlign col-sm-12 text-right bottomAction">

                    <button class="btn btn-warning reset" value="Reset" type="reset">
                    <i class="fas fa-times" aria-hidden="true"></i> Reset</button>


                    <button type="submit" class="btn btn-success" data-ng-click="run()" ng-disabled="!flow || !flag">
                    <i class="fas fa-play-circle" aria-hidden="true"></i> Run</button>
                    

                </div>
            </div>
          </form>
      </div>
   </div>
</div>
