<div class="container-fluid">
   <div class="side-body">
           <h1>Flow testing</h1>
            <div class="row" data-ng-controller="FlowController as ctrl">
              <div class="panel panel-default" style="overflow-x:auto;">
                <div class="panel-heading">
                  <i class="fa fa-forward" aria-hidden="true"></i> Test
                </div>
                <div class="panel panel-body container-fluid">
                <form id="prova2" class="reset">
                 <div class="form-group clearfix">
                    <label id="labelLeft" class="control-label optionForm col-sm-2">Operation</label>
                    <div class="col-sm-4">
                       <select id="flow" name="flow"
                          class="form-control" data-ng-model="flow"
                          data-ng-options="entry.operation group by entry.service for entry in operations"
                          required>
                          <option value="">------</option>
                       </select>
                       <p style="margin: 0">
                          <span data-ng-show="taskForm.submitted && taskForm.flow.$error.required" class="text-warning">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                          Required
                          </span>
                       </p>
                    </div>
                 </div>
                 <hr>


                 <div class="form-group clearfix">
                    <label id="labelLeft" class="control-label optionForm col-sm-2">Body</label>
                    <div class="col-sm-9">
                       <textarea id="noTab" class="form-control" rows="5" data-ng-model="service.object"></textarea>
                    </div>
                 </div>


                 <br></br>
                 <div class="form-group clearfix">
                    <label id="labelLeft" class="control-label optionForm col-sm-2">Credentials</label>
                    <div class="col-sm-4"><input type="text" class="form-control" data-ng-model="username" placeholder="username"></div>
                    <div class="col-sm-5"><input type="password" class="form-control" data-ng-model="password" placeholder="password"></div>
                 </div>

                 <br></br>
                 <div class="form-group clearfix">
                   <label class="control-label optionForm col-sm-2">Properties</label>
                    <div class="col-sm-4"><input type="text" class="form-control" data-ng-model="key" placeholder="key"></div>
                    <div class="col-sm-4"><input type="text" class="form-control" data-ng-model="value" placeholder="value"></div>
					<div class="col-sm-1"><button class="btn btn-default" id="fabuttonplus" data-ng-click="addParameter()"><i class="fa fa-plus"></i></button></div>                 
				 </div>
                 <div data-ng-repeat="(key,param) in service.properties">
                    <div class="form-group clearfix">
                       <div class="col-sm-offset-2 col-sm-4"><strong>{{key}}</strong></div>
                       <div class="col-sm-4">{{param}}</div>
                       <div class="col-sm-1"><a class="close pull-left" data-ng-click="removeParameter(key)">×</a></div>
                    </div>
                 </div>
				</form>
             </div>
                 <div id="panelPagination" class="panel-footer">
               <div class="row">
                 <div class="form-group">
                    <div id="btnspace" >
                       <button type="button" class="btn btn-danger pull-left reset" value="Reset" onclick="resetFunction();">
                         <i class="fa fa-ban" aria-hidden="true"></i> Cancel</button>
                       <button type="submit" class="btn btn-primary pull-right" data-ng-click="run()">
                         <i class="fa fa-play-circle" aria-hidden="true"></i> Run</button>
                    </div>
                 </div>
               </div>
             </div>
            </div>
            <div class="row">
               <h2>Output</h2>
               <textarea id="outputArea" class="form-control" rows="10" cols="50" readonly>{{output}}</textarea>
            </div>
      </div>
   </div>
</div>