<?xml version="1.0" encoding="UTF-8"?>
<blueprint  default-activation="eager" 
            xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:jaas="http://karaf.apache.org/xmlns/jaas/v1.1.0" 
            xmlns:tx="http://aries.apache.org/xmlns/transactions/v1.0.0"                  			
			xsi:schemaLocation="http://www.osgi.org/xmlns/blueprint/v1.0.0 https://osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
							   http://aries.apache.org/xmlns/transactions/v1.0.0 http://aries.apache.org/xmlns/transactions/v1.0.0
							   http://karaf.apache.org/xmlns/jaas/v1.1.0 http://karaf.apache.org/xmlns/jaas/v1.1.0">
	
	<reference id="hibernateSessionFactory" interface="org.hibernate.SessionFactory" activation="eager" availability="mandatory"/>
	
	<bean id="userRepositoryHibernate" class="it.greenvulcano.gvesb.iam.repository.hibernate.UserRepositoryHibernate">
		<property name="sessionFactory" ref="hibernateSessionFactory"/>
		<tx:transaction method="*" value="Required"/>
	</bean>
	
	<bean id="roleRepositoryHibernate" class="it.greenvulcano.gvesb.iam.repository.hibernate.RoleRepositoryHibernate">
		<property name="sessionFactory" ref="hibernateSessionFactory"/>
		<tx:transaction method="*" value="Required"/>
	</bean>
    
    <bean id="gvJAASBackingEngineFactory" class="it.greenvulcano.gvesb.iam.jaas.GVBackingEngineFactory">
    	<property name="userRepository" ref="userRepositoryHibernate"/>
    	<property name="roleRepository" ref="roleRepositoryHibernate"/>
    </bean>
    
    <service id="GVBackingEngineFactory" ref="gvJAASBackingEngineFactory" interface="org.apache.karaf.jaas.modules.BackingEngineFactory">
    	<service-properties>
    		<entry key="name" value="GVBackingEngineFactory"/>
    	</service-properties>
    </service>
       
    <jaas:config name="karaf" rank="2">
        <jaas:module name="GVLoginModule" 
        			 className="it.greenvulcano.gvesb.iam.jaas.GVLoginModule" 
                     flags="required"> 
            debug=true          
        </jaas:module>
    </jaas:config>

	<bean id="gvSecurityManager" class="it.greenvulcano.gvesb.iam.service.internal.GVSecurityManager">
		<property name="userRepository" ref="userRepositoryHibernate"/>
    	<property name="roleRepository" ref="roleRepositoryHibernate"/>
    	<property name="jaasEngineFactory" ref="gvJAASBackingEngineFactory"/>
	</bean>
	
	<service id="securityManager" ref="gvSecurityManager" interface="it.greenvulcano.gvesb.iam.service.SecurityManager"/>
	
</blueprint>