<?xml version="1.0" encoding="UTF-8"?>
<blueprint  default-activation="eager" 
            xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:jaas="http://karaf.apache.org/xmlns/jaas/v1.1.0"                              			
			xsi:schemaLocation="http://www.osgi.org/xmlns/blueprint/v1.0.0 https://osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd							  
							   http://karaf.apache.org/xmlns/jaas/v1.1.0 http://karaf.apache.org/xmlns/jaas/v1.1.0">
	
	<reference id="gvUsersManager" interface="it.greenvulcano.gvesb.iam.service.UsersManager" activation="eager" availability="mandatory"/>
	<reference id="gvCredentialsManager" interface="it.greenvulcano.gvesb.iam.service.CredentialsManager" activation="eager" availability="mandatory"/>
	       
    <jaas:config name="karaf" rank="2">
        <jaas:module name="GVLoginModule" 
        			 className="it.greenvulcano.gvesb.iam.jaas.GVLoginModule" 
                     flags="required"> 
            debug=true          
        </jaas:module>
    </jaas:config>
	
	<bean id="gvBasicAuthenticationSecurityModule" class="it.greenvulcano.gvesb.iam.modules.internal.GVBasicAuthenticationSecurityModule">
		<property name="usersManager" ref="gvUsersManager"/>
		<property name="realm" value="karaf"/>
	</bean>
	
	<service id="basicAuthenticationSecurityModule" ref="gvBasicAuthenticationSecurityModule" interface="it.greenvulcano.gvesb.iam.modules.SecurityModule">
		<service-properties>
			<entry key="authentication-schema" value="basic"/>
		</service-properties>
	</service>
	
	
	<bean id="gvOAuth2SecurityModule" class="it.greenvulcano.gvesb.iam.modules.internal.GVOAuth2SecurityModule">
		<property name="credentialsManager" ref="gvCredentialsManager"/>
		<property name="realm" value="karaf"/>
	</bean>
	
	<service id="oauth2SecurityModule" ref="gvOAuth2SecurityModule" interface="it.greenvulcano.gvesb.iam.modules.SecurityModule">
		<service-properties>
			<entry key="authentication-schema" value="oauth2"/>
		</service-properties>
	</service>
</blueprint>