<div class="container-fluid">
   <div class="side-body">
      <div class="row" data-ng-controller="DeployController as ctrl" data-ng-init="ctrl.loadConfigInfo(); ctrl.loadList(); ctrl.getFiles()">
        <div class="col-md-12 col-sm-12 col-xs-12 alertTop">
          <div id="fadeout" data-ng-repeat="alert in ctrl.alerts" class="fadeout alert2 alert-{{alert.type}}" role="alert">{{alert.msg}}</div>
        </div>
        <div class="intestazione col-md-12 col-sm-12 col-xs-12">
          <div id="headerTopic" class="col-md-6 col-sm-6 col-xs-6">
          <h2><i class="fas fa-rocket"></i> Deploy</h2>
        </div>
        <div id="configInfo" class="col-md-6 col-sm-6 col-xs-6">
          <div class="col-md-12 text-right">
            <h4 class="text-primary">Current version: <span class="text-info">{{ctrl.configInfo.id}}</span></h4>
          </div>
          <div class="col-md-12 text-right">
            <h4 class="text-primary">Deployed on: <span class="text-info">{{ctrl.configInfo.time | date : 'd MMMM yyyy H:mm:ss'}}</span></h4>
          </div>
        </div>
        </div>
            <div id="panelHead" class="col-md-12 col-sm-12 col-xs-12" style="padding:0px">
              <div class="col-md-6" style="padding:0px">
                <div class="col-md-12"><h3 class="col-md-6" style="margin-top:15px">Current Version: </h3><h3 class="col-md-6" style="margin-top:15px">{{ctrl.configInfo.id}}</h3></div>
                <div class="col-md-12"><h3 class="col-md-6" style="margin-top:15px">Deployed on: </h3><h3 class="col-md-6" style="margin-top:15px">{{ctrl.configInfo.time | date : 'd MMMM yyyy H:mm:ss'}}</h3></div>
              </div>
              <div class="divAlign col-md-6 text-right" style="margin-top: 33px;margin-bottom: 33px;">
                <button type="button" class="btn btn-info" data-ng-click="ctrl.reloadConfig()"><i class="fas fa-redo" aria-hidden="true"></i> Reload</button>
                <img data-ng-show="exportInProgress"
                   src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                <a id="export"><button data-ng-hide="exportInProgress" data-ng-click="ctrl.exportConfig()" class="btn btn-info"><i class="fas fa-download"></i> Download</button></a>
                <form id="deployForm" name="deployForm" class="form-horizontal" data-ng-submit="ctrl.addConfig()" style="display: inline">
                <button type="reset" class="btn btn-success" data-toggle="modal" data-target="#addModal{{$index}}" data-ng-click="ctrl.deploy.configfile='' "><i class="fas fa-upload"></i> Add version</button>
                <div id="addModal{{$index}}" class="modal fadeout2">
                  <div class="modal-content" style="width:70%">
                    <div class="modal-header">
                      <div id="headerTopic" class="col-md-6">
                        <h2 class="pull-left">Add version</h2></div>
                    </div>
                    <div class="modal-body">
                      <div class="col-sm-12 col-xs-12" id="marginFix">
                        <label class="col-sm-2 col-xs-12" style="text-align:left">Name</label>
                        <div class="col-sm-8 col-xs-12">
                          <input type="text" class="input-form" placeholder="Configuration ID" pattern="(?=^.{1,64}$)^[a-zA-Z0-9._-]+$" data-ng-maxlength="64" data-ng-model="ctrl.deploy.id" required>
                        </div>
                      </div>
                      <div class="col-sm-12 col-xs-12" id="marginFix">
                        <label class="col-sm-2 col-xs-12" style="text-align:left">Description</label>
                        <div class="col-sm-8 col-xs-12">
                          <input id="descriptfile" maxlength="64" name="descriptfile" type="text" class="input-form" placeholder="Description Configuration" data-ng-model="ctrl.history.description">
                          <span class="help-block small pull-left">
                                        Small description of configuration max. 64 characters.
                                      </span>
                        </div>
                      </div>
                      <div class="col-sm-12 col-xs-12" id="marginFix">
                        <label class="col-sm-2 col-xs-12" style="text-align:left">File</label>
                        <div class="col-sm-8 col-xs-12">
                          <!-- Drop Zone -->
                          <div class="upload-drop-zone" id="drop-zone" style="position: relative;">
                              <input id="configfile" name="configfile" type="file"
                              accept="application/zip" file-model="ctrl.deploy.configfile" required>
                            <label for="configfile" class="custom-file-upload">
                                <span class="text-primary col-sm-12" data-ng-show="!ctrl.deploy.configfile.name"><i class="fas fa-upload"></i> Drop file here or click to open finder.</span>
                                <span class="text-primary col-sm-12" data-ng-show="ctrl.deploy.configfile.name"><i class="fas fa-file-archive"></i> {{ctrl.deploy.configfile.name}}</span>
                              </label>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <div class="col-sm-12 col-xs-12 text-right footerModal">
                        <button type="reset" class="btn btn-warning" data-dismiss="modal"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back</button>
                        <button type="submit" class="btn btn-success" data-ng-hide="downloadInProgress" data-ng-disabled="deployForm.$invalid || !(ctrl.deploy.configfile)" disabled="disabled">
                              <i class="fas fa-save"></i> Save</button>
                      </div>
                    </div>
                  </div>
              </div>
            </form>
            </div>
          </div>
          <div class="col-md-12" id="table">
            <table class="table table-hover col-md-12">
               <thead style="background:transparent">
                  <tr>
                     <th class="col-sm-2 Clickable noselect" data-ng-click="historyOrderFunction('id')"><h4>Id <i class="text-info" aria-hidden="true" data-ng-class="{'fa fa-sort': propertyName != 'id', 'fas fa-sort-alpha-up': propertyName == 'id' && !reverse, 'fas fa-sort-alpha-down': propertyName == 'id' && reverse}"></i></h4></th>
                     <th class="col-sm-3 Clickable noselect" data-ng-click="historyOrderFunction('time')"><h4>Date <i class="text-info" aria-hidden="true" data-ng-class="{'fa fa-sort': propertyName != 'time', 'fas fa-sort-alpha-up': propertyName == 'time' && !reverse, 'fas fa-sort-alpha-down': propertyName == 'time' && reverse}"></i></h4></th>
                     <th class="col-sm-4"><h4>Description</h4></th>
                     <th class="text-right col-sm-3"><h4>Action</h4></th>
                  </tr>
               </thead>
               <tbody>
                  <tr class="tableTd" data-ng-repeat="config in ctrl.history | orderBy:propertyName:reverse" style="background:transparent;">
                     <td class="col-sm-2" style="padding:0px;background:transparent"><div class="col-md-12 tdTableDivLeft"><span class="tableSpan">{{config.id}}</span></div></td>
                     <td class="col-sm-3" style="padding:0px;background:transparent"><div class="col-md-12 tdTableDivCentre"><span class="tableSpan">{{config.time | date : 'd MMMM yyyy H:mm:ss'}}</span></div></td>
                     <td class="col-sm-4" style="padding:0px;background:transparent"><div class="col-md-12 tdTableDivCentre"><span class="tableSpan">{{config.description}}</span></div></td>
                     <td class="text-right col-sm-3" style="padding:0px;background:transparent">
                       <div class="col-md-12 tdTableDivRight">
                        <button onClick="slide();" type="button" class="btn btn-success btn-sm" data-ng-click="go('/deploy/' + config.id)"><i class="fas fa-rocket"></i></button>
                        <a><button id="export" data-ng-click="" class="btn btn-info btn-sm" disabled><i class="fas fa-download"></i></button></a>
                        <button onClick="slide();" type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal{{$index}}"><i class="fas fa-trash-alt" aria-hidden="true"></i></button>
                        </div>
                        <div id="myModal{{$index}}" class="deleteForm modal fade">
                    <div class="modal-content">
                      <div class="modal-header">
                        <div class="col-sm-3">
                          <h3>Delete</h3>
                        </div>
                      </div>
                      <div class="modal-body">
                        <h4> Are you sure to delete <span  class="text-danger"> {{config.id}} </span>?</h4>
                      </div>
                      <div class="modal-footer">
                        <div class="col-md-12 text-right footerModal">
                          <button type=" button" class="btn btn-warning" data-dismiss="modal"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back</button>
                          <button type="button" class="btn btn-danger" data-ng-click="ctrl.deleteConfig(config.id)"><i class="fa fa-trash" aria-hidden="true"></i> Confirm</button>
                        </div>
                      </div>
                    </div>
                  </div>
                     </td>
                  </tr>
               </tbody>
            </table>
          </div>
          <div class="col-sm-12" style="padding:0px">
            <div class="alert alert-warning" data-ng-hide="ctrl.history.length">No previously configuration found!</div>
          </div>
            <div id="headerTopic" class="col-md-12">
            <h3><i class="fas fa-cogs text-success"></i> Configuration files</h3>
            <hr>
            </div>
            <div class="panel-body">
            <ul class="nav nav-tabs">
               <li data-ng-repeat="(id,file) in filesName" ng-class="{'active': id == 0}"><a data-toggle="tab" data-target="#{{id}}">{{file}}</a></li>
            </ul>
            <div data-ng-repeat="(id,file) in filesName" id="{{id}}" class="tab-pane fade collapse" ng-class="{'active in': id == 0}">
              <span class="col-md-12" id="{{file}}" style="overflow: auto;border: 1px solid #efefef;/* border-bottom-left-radius: 3px; */border-radius: 0 0 4px 4px;"> </span>
          </div>
        </div>
   </div>
</div>
</div>
