<html>
	<head>
		<meta charset="UTF-8">
			<title>Excel To HTML using codebeautify.org</title>
		</head>
		<body>
			<div class="container-fluid">
				<div class="side-body">
					<h1>Deploy action</h1>
					<div class="row" data-ng-controller="DeployConfigController as ctrl" data-ng-init="">
						<div class="container col-sm-12">
							<div class="row">
								<div class="panel panel-default" style="overflow-x:auto;">
									<div class="panel-heading">
									   Deploy steps
									</div>
									<section>
										<div class="wizard">
											<div class="panel-body clearfix">
												<div class="wizard-inner">
													<ul class="nav nav-tabs col-sm-12" role="tablist">
														<div class="connecting-line"></div>
														<li role="presentation" class="col-sm-4" data-ng-class="{'active': step == 0, 'disable': step != 0 }">
															<a data-toggle="tab" aria-controls="step1" role="tab" title="Step 1" data-target="#step1" style="pointer-events: none;">
																<span class="round-tab">
																	<i class="glyphicon glyphicon-open-file"></i>
																</span>
															</a>
														</li>
														<li role="presentation" class="col-sm-4" data-ng-class="{'active': step == 01, 'disable': step != 01 }">
															<a data-toggle="tab" aria-controls="step2" role="tab" title="Step 2" data-target="#step2" style="pointer-events: none;">
																<span class="round-tab">
																	<i class="glyphicon glyphicon-tasks"></i>
																</span>
															</a>
														</li>
														<li role="presentation" class="col-sm-4" data-ng-class="{'active': step == 011, 'disable': step != 011 }">
															<a data-toggle="tab" aria-controls="complete" role="tab" data-target="#complete" style="pointer-events: none;">
																<span class="round-tab">
																	<i class="glyphicon glyphicon-ok"></i>
																</span>
															</a>
														</li>
													</ul>
												</div>
													<div class="tab-content">
														<div class="tab-pane active" role="tabpanel" id="step1">
															<h2 style="text-align:center;margin-bottom:40px">GV Core Compare</h2>

																<div class="col-sm-6">
																	<div class="panel panel-default">
																	<div id="GVCorePanel" class="panel-heading">Current GVCore</div>
																	<div class="panel-body"><pre style="height:1000px;">{{currentGVCore}}</pre></div>
																	</div>
																</div>
																<div class="col-sm-6">
																	<div class="panel panel-default">
																	<div id="GVCorePanel" class="panel-heading">New GVCore</div>
																	<div class="panel-body"><pre style="height:1000px;">{{newGVCore}}</pre></div>
																	</div>
																</div>
																<div class="col-sm-6">
																	<a href="#/deploy" type="button" class="btn btn-danger pull-left">Cancel</a>
																</div>
															<div class="col-sm-6">
																<button type="button" id="stepValue" value="1" class="btn btn-primary pull-right" data-toggle="tab" data-target="#step2" data-ng-click="changeStep()">Next</button>
															</div>
														</div>

														<div class="tab-pane" role="tabpanel" id="step2">
														<form role="form" name="propertiesForm" data-ng-submit="propertiesForm.$valid" novalidate>
															<h2 style="text-align:center; margin:20px">Properties File</h2>
															<div style="text-align: center;" class="alert alert-warning" data-ng-show="!propertiesForm.$valid" role="alert">All properties must be completed for proced to deploy with this configuration!</div>

															<div class="col-sm-12">
																<table class="table table-hover">
											            <thead>
											              <tr>
											                <th><div class="col-sm-4">Key</div></th>
											                <th><div class="col-sm-6">Value</div></th>
											              </tr>
											            </thead>
											            <tbody>
											              <tr data-ng-repeat="(key,value) in ctrl.properties">
											                <td><div class="col-sm-4">{{key}}</div></td>
											                <td><div class="col-sm-6"><input type="text" class="form-control" data-ng-model="ctrl.properties[key]" name="value" required></div></td>
											              </tr>
											            </tbody>
											          </table>
															</div>
															<div class="col-sm-6">
																<a href="#/config" type="button" class="btn btn-danger pull-left">Cancel</a>
															</div>
															<div class="col-sm-6">
																<button type="submit" data-ng-show="propertiesForm.$valid"  id="stepValue" value="1" class="btn btn-primary pull-right" data-toggle="tab" data-target="#complete"  data-ng-click="changeStep()">Next</button>
																<button type="submit" data-ng-show="!propertiesForm.$valid"  id="stepValue" value="1" class="btn btn-primary pull-right" data-toggle="tab" data-target="#complete"  data-ng-click="changeStep()" disabled>Next</button>
															</div>
															</form>
														</div>

														<div class="tab-pane" role="tabpanel" id="complete">
															<h3 style="text-align:center">Are you sure to change current configuration <span style="color:red">"{{currentConfigId}}"</span> <p>with configuration <span style="color:red">"{{newConfigId}}"</span>?</p></h3>
															<div class="col-sm-6"><a href="#/config" type="button" class="btn btn-danger pull-left">Cancel</a></div>
															<div class="col-sm-6"><a href="#/config" type="button" class="btn btn-success pull-right" data-ng-click="ctrl.deploy()">Proceed</a></div>
														</div>
													</div>

											</div>
										</div>
									</section>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</body>
	</html>