<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0" 
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"		
    		xmlns:jaxrs="http://cxf.apache.org/blueprint/jaxrs"
    		xmlns:jaxws="http://cxf.apache.org/blueprint/jaxws"
    		xsi:schemaLocation="http://www.osgi.org/xmlns/blueprint/v1.0.0 https://osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
    			http://cxf.apache.org/blueprint/jaxrs http://cxf.apache.org/schemas/blueprint/jaxrs.xsd
    			http://cxf.apache.org/blueprint/jaxws http://cxf.apache.org/schemas/blueprint/jaxws.xsd"	  			
	  			default-activation="eager">
	
	<reference-list id="securityModulesReferences" interface="it.greenvulcano.gvesb.iam.modules.SecurityModule" 
			   		member-type="service-reference" availability="optional"/>
		
	<bean id="gvAuthenticationFilter" class="it.greenvulcano.gvesb.api.security.GVSecurityFilter">        
        <property name="gvSecurityModulesReferences" ref="securityModulesReferences"/>    
    </bean>
	
	<bean id="cors-filter" class="org.apache.cxf.rs.security.cors.CrossOriginResourceSharingFilter"/>

	<bean id="servicesController" class="it.greenvulcano.gvesb.api.controller.GvServicesControllerRest"/>
			
	<jaxrs:server address="/gvesb" id="gvesbapi">
        <jaxrs:serviceBeans>            
           <ref component-id="servicesController" />           
        </jaxrs:serviceBeans> 
        <jaxrs:providers>
	       <ref component-id="gvAuthenticationFilter"/>
	       <ref component-id="cors-filter" />
	    </jaxrs:providers>       
    </jaxrs:server>
    
    <reference id="gvSecurityManager" interface="it.greenvulcano.gvesb.iam.service.UsersManager" activation="eager" availability="optional" timeout="500"/>
    
    <bean id="securityController" class="it.greenvulcano.gvesb.api.controller.GvSecurityControllerRest" init-method="init">
    	<property name="securityManager" ref="gvSecurityManager"/>
    </bean>
		
	<bean id="gviamAuthorizationInterceptor" class="org.apache.cxf.interceptor.security.SecureAnnotationsInterceptor">
   		<property name="allowAnonymousUsers" value="true" />
   		<property name="checkConfiguredRolesOnly" value="false" />
   		<property name="securedObject" ref="securityController"/>
	</bean>
	
	<bean id="gviamAuthorizationFilter" class="org.apache.cxf.jaxrs.security.SimpleAuthorizingFilter">	   
	   <property name="interceptor" ref="gviamAuthorizationInterceptor"/>
	</bean>	
			
	<jaxrs:server address="/gviam" id="gviamapi">
        <jaxrs:serviceBeans>            
           	<ref component-id="securityController" />           	
        </jaxrs:serviceBeans> 
        <jaxrs:providers>
	       	<ref component-id="gvAuthenticationFilter"/>
	       	<ref component-id="gviamAuthorizationFilter"/>	
	       	<ref component-id="cors-filter" />     
	    </jaxrs:providers>       
    </jaxrs:server>    
    	
	<reference id="configManager" interface="it.greenvulcano.gvesb.GVConfigurationManager" />
	
	<bean id="configurationController" class="it.greenvulcano.gvesb.api.controller.GvConfigurationControllerRest">
		<property name="configurationManager" ref="configManager" />
	</bean>
	
	<bean id="gvconfigAuthorizationInterceptor" class="org.apache.cxf.interceptor.security.SecureAnnotationsInterceptor">
   		<property name="allowAnonymousUsers" value="true" />
   		<property name="checkConfiguredRolesOnly" value="false" />
   		<property name="securedObject" ref="configurationController"/>
	</bean>
	
	<bean id="gvconfigAuthorizationFilter" class="org.apache.cxf.jaxrs.security.SimpleAuthorizingFilter">	   
	   <property name="interceptor" ref="gvconfigAuthorizationInterceptor"/>
	</bean>	
	
	<jaxrs:server address="/gvconfig" id="gvconfigapi">
        <jaxrs:serviceBeans>            
           	<ref component-id="configurationController" />            
        </jaxrs:serviceBeans> 
        <jaxrs:providers>
	       	<ref component-id="gvAuthenticationFilter"/>
	       	<ref component-id="gvconfigAuthorizationFilter"/>	
	       	<ref component-id="cors-filter" />     
	    </jaxrs:providers>        
    </jaxrs:server>
    
    <bean id="gvWebService" class="it.greenvulcano.gvesb.api.ws.soap.GVWebServiceSoap"/>
    
    <bean id="gvAuthenticationInterceptor" class="it.greenvulcano.gvesb.api.security.GVSecurityInterceptor">        
        <property name="gvSecurityModulesReferences" ref="securityModulesReferences"/>   
    </bean>
    
    <jaxws:endpoint
    	address="/ws/gvesb"
        serviceName="gv:gvesb"
        endpointName="gv:wsapi"
    	implementor="#gvWebService"    	
		implementorClass="it.greenvulcano.gvesb.api.ws.soap.GVWebServiceSoap"
		xmlns:gv="http://www.greenvulcano.com/gvesb">
		
		<jaxws:inInterceptors>
			<ref component-id="gvAuthenticationInterceptor"/>
		</jaxws:inInterceptors>
		
	</jaxws:endpoint>
	        
</blueprint>