<app-header></app-header>
<div class="container-fluid">
   <div class="side-body" data-ng-app="services">
      <div class="container" data-ng-controller="ServiceController as ctrl">
         <h1>Service</h1>
         <div class="row" >
            <div id="formLeft" class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
               <div class="form-group clearfix">
                  <label id="labelLeft" class="control-label optionForm col-sm-4">Operation</label>
                  <div class="col-sm-8">
                     <select id="flow" name="flow"
                        class="form-control" ng-model="flow"
                        ng-options="entry.operation group by entry.service for entry in operations"
                        required>
                        <option value="">------</option>
                     </select>
                     <p style="margin: 0">
                        <span data-ng-show="taskForm.submitted && taskForm.flow.$error.required" class="text-warning">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Required
                        </span>
                     </p>
                  </div>
               </div>
               <hr>
            </div>
            <div id="formLeft" class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
               <div class="form-group clearfix">
                  <label id="labelLeft" class="control-label optionForm col-sm-4">HTTP Methods</label>
                  <div class="col-sm-8">
                     <select ng-model="http_method" class="form-control" required>
                        <option value="">------</option>
                        <option value="GET">GET</option>
                        <option value="POST">POST</option>
                        <option value="DELETE">DELETE</option>
                     </select>
                     <p style="margin: 0">
                        <span data-ng-show="taskForm.submitted && taskForm.flow.$error.required" class="text-warning">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Required
                        </span>
                     </p>
                  </div>
               </div>
               <hr>
            </div>
            <div id="formLeft" class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
               <div class="form-group clearfix">
                  <label id="labelLeft" class="control-label optionForm col-sm-4">Body</label>
                  <div class="col-xs-12">
                     <textarea id="noTab" class="form-control" rows="5" ng-model="service.object"></textarea>
                  </div>
               </div>
               <label class="control-label optionForm col-sm-4">Properties</label>
               <br><br/>
               <div class="form-group clearfix">
                  <div class="col-sm-5"><input type="text" class="form-control" ng-model="key" placeholder="key"></div>
                  <div class="col-sm-6"><input type="text" class="form-control" ng-model="value" placeholder="value"></div>
                  <button class="btn btn-default" id="fabuttonplus" ng-click="addParameter()"><i class="fa fa-plus"></i></button>
               </div>
               <div ng-repeat="(key,param) in service.properties">
                  <div class="form-group clearfix">
                     <div class="col-sm-5"><strong>{{key}}</strong></div>
                     <div class="col-sm-6">{{param}}</div>
                     <a class="close" ng-click="removeParameter(key)">×</a>
                  </div>
               </div>
               <label id="labelLeft" class="control-label optionForm col-sm-4">Credentials</label>
               <br></br>
               <div class="form-group clearfix">
                  <div class="col-sm-5"><input type="text" class="form-control" ng-model="username" placeholder="username"></div>
                  <div class="col-sm-6"><input type="password" class="form-control" ng-model="password" placeholder="password"></div>
               </div>
               <div class="form-group">
                  <div id="btnspace" class="col-sm-offset-4 col-sm-8">
                     <button type="button" class="btn btn-danger" type="reset" value="Reset">Cancel</button>
                     <button type="submit" class="btn btn-success" data-ng-click="run()">Run</button>
                  </div>
               </div>
               </form>
               <div class="row">
                  <h2>Output</h2>
                  <textarea id="output_service" class="form-control" rows="10" cols="50" readonly>{{output}}</textarea>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
