<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0" 
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"		
    		xmlns:jaxrs="http://cxf.apache.org/blueprint/jaxrs"
    		xmlns:jaxws="http://cxf.apache.org/blueprint/jaxws"
    		xsi:schemaLocation="http://www.osgi.org/xmlns/blueprint/v1.0.0 https://osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
    			http://cxf.apache.org/blueprint/jaxrs http://cxf.apache.org/schemas/blueprint/jaxrs.xsd
    			http://cxf.apache.org/blueprint/jaxws http://cxf.apache.org/schemas/blueprint/jaxws.xsd"	  			
	  			default-activation="eager">
	  			
	 <bean id="gvPropertiesRest" class="it.greenvulcano.gvesb.properties.api.PropertiesRest">
		 <property name="confProperties" ref="confProperties" />
	 </bean>
	
	 <bean id="confProperties" class="it.greenvulcano.gvesb.properties.service.runtime.GVPropertiesService"/>
	
	 <reference-list id="securityModulesReferences" interface="it.greenvulcano.gvesb.iam.modules.SecurityModule"
			   		member-type="service-reference" availability="optional"/>

	 <bean id="gvAuthenticationFilter" class="it.greenvulcano.gvesb.api.security.GVSecurityFilter">
        <property name="gvSecurityModulesReferences" ref="securityModulesReferences"/>
     </bean>
     
     <bean id="gvAuthorizationFilter" class="org.apache.cxf.jaxrs.security.SimpleAuthorizingFilter">
	   <property name="interceptor" ref="gvAuthorizationInterceptor"/>
	</bean>
	
	<bean id="gvAuthorizationInterceptor" class="org.apache.cxf.interceptor.security.SecureAnnotationsInterceptor">
		<property name="allowAnonymousUsers" value="false" />
		<property name="checkConfiguredRolesOnly" value="false"/>
		<property name="securedObject" ref="gvPropertiesRest"/>
 	</bean>
	
	<bean id="cors-filter" class="org.apache.cxf.rs.security.cors.CrossOriginResourceSharingFilter"/>
	
	<bean id="gvAuthenticationInterceptor" class="it.greenvulcano.gvesb.api.security.GVSecurityInterceptor">        
        <property name="gvSecurityModulesReferences" ref="securityModulesReferences"/>   
    </bean>	  			
	  				
	<jaxrs:server address="/gvproperties" id="gvpropertiesapi">
        <jaxrs:serviceBeans>
            <ref component-id="gvPropertiesRest"/>
        </jaxrs:serviceBeans>
		<jaxrs:providers>
			<ref component-id="gvAuthenticationFilter"/>
			<ref component-id="gvAuthorizationFilter"/>
			<ref component-id="cors-filter"/>
		</jaxrs:providers>
    </jaxrs:server>	  			
	  			
</blueprint>