<div class="container-fluid">
<div class="side-body">
  <div data-ng-controller = "PropertiesController">
   <h1>Modify File Properties</h1>

	<textarea id="areaProperties" ng-model="propertiesFile" class="form-control" rows="25"></textarea>

	<div>
    <a id="btnProp" href="#/properties" onClick="slide();" ng-click="save()" class="btn btn-success pull-right">Save
    </a>
    <a id="btnProp" href="#/properties" onClick="slide();" class="btn btn-danger pull-left">Back
    </a>
	</div>
  </div>
</div>
</div>
