<div class="container-fluid">
   <div class="side-body">
      <div class="container row" data-ng-controller = "PropertiesController as ctrl">
         <h1>File Properties</h1>
         <div class="panel panel-default">
            <div class="panel-heading clearfix">
               <i class="fa fa-list" aria-hidden="true"></i> Value Search
            </div>
            <div class="panel-body">
               <label id="labelLeft" class="control-label optionForm col-sm-1">Key </label>
               <div class="col-sm-4"><input type="text" class="form-control" data-ng-model="key" placeholder="Key"></div>
               <label id="labelLeft" class="control-label optionForm col-sm-1 col-sm-offset-1">Value </label>
               <div class="col-sm-4"><input type="text" class="form-control" value="{{value}}" disabled></div>
            </div>
            <div class="panel-footer clearfix">
               <a data-ng-click="matchKey();" class="btn btn-primary pull-right"><i class="fa fa-search" aria-hidden="true"></i> Match</a>
            </div>
         </div>
         <div data-ng-repeat="alert in ctrl.alerts" class="fadeout alert alert-{{alert.type}}" role="alert">{{alert.msg}}</div>
         <div class="panel panel-default">
            <div id="panelHead" class="panel-heading clearfix">
               <i class="fa fa-list" aria-hidden="true"></i> Properties list
            </div>
            <form name="propertiesForm" data-ng-submit="modifyProperties()">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th>
                        <div class="col-sm-6">Key</div>
                     </th>
                     <th>
                        <div class="col-sm-6">Value</div>
                     </th>
                  </tr>
               </thead>
               <tbody>
                  <tr data-ng-repeat="(key,value) in ctrl.properties">
                     <td>
                        <div class="col-sm-6">{{key}}</div>
                     </td>
                     <td>
                        <div class="col-sm-6"  data-ng-class="{'has-error' : !ctrl.properties[key]}"><input name="{{key}}" type="text" class="form-control" data-ng-model="ctrl.properties[key]" name="value" required></div>
                     </td>
                  </tr>
               </tbody>
            </table>
            <div id="panelPagination" class="panel-footer">
              <div class="row">
                <button type="submit" data-ng-show="propertiesForm.$valid"  id="stepValue" value="1" class="btn btn-primary pull-right"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
                <button type="submit" data-ng-show="!propertiesForm.$valid"  id="stepValue" value="1" class="btn btn-primary pull-right" data-toggle="tab" disabled><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
              </div>
         </div>
       </form>
      </div>
   </div>
</div>
