<?xml version="1.0" encoding="UTF-8"?>
<blueprint  default-activation="eager" 
            xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"           
            xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0"                       
            xsi:schemaLocation="http://www.osgi.org/xmlns/blueprint/v1.0.0 https://osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
                               http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0 http://aries.apache.org/schemas/blueprint-cm/blueprint-cm-1.1.0.xsd">


    <cm:property-placeholder persistent-id="it.greenvulcano.gvesb.gviamx" update-strategy="none">
        <cm:default-properties>       
            <cm:property name="gviamx.fb.endpoint" value="https://graph.facebook.com/v3.3"/>
          
        </cm:default-properties>
    </cm:property-placeholder>

   

    <bean id="fbAuthenticator" class="it.greenvulcano.gvesb.gviamx.fb.FacebookAuthenticator">
        <property name="endpoint" value="${gviamx.fb.endpoint}"/> 
    </bean>

    <service ref="fbAuthenticator" interface="it.greenvulcano.gvesb.iam.service.ExternalAuthenticationService"/>

</blueprint>