<div class="container-fluid">
   <div class="side-body">
      <div class="row" data-ng-controller="MonitoringController as ctrl" data-ng-init="ctrl.loadConfigInfo();init()">
        <div class="intestazione col-md-12 col-sm-12 col-xs-12">
          <div id="headerTopic" class="col-md-6 col-sm-6 col-xs-6">
          <h2><i class="fas fa-chart-pie"></i> Dashboard</h2>
        </div>
        <div id="configInfo" class="col-md-6 col-sm-6 col-xs-6">
          <div class="col-md-12 text-right">
            <h4 class="text-primary">Current version: <span class="text-info">{{ctrl.configInfo.id}}</span></h4>
          </div>
          <div class="col-md-12 text-right">
            <h4 class="text-primary">Deployed on: <span class="text-info">{{ctrl.configInfo.time | date : 'd MMMM yyyy H:mm:ss'}}</span></h4>
          </div>
        </div>
      </div>
      <div id="graph" class="col-md-4 col-sm-12 col-xs-12   " style="height:266px">
        <div>
        <h3><i class="fas fa-archive text-success"></i> Memory <span class="pull-right">{{totalMemory}} MB</span></h3>
        <hr>
        </div>
        <div class="col-md-12" style="text-align: center;">
        <ng-gauge id="gaugeChart" size="200" type="semi" thick="5"
          min="0" max="totalMemory" value="heapMemory"
          cap="round" append="MB"
          foreground-color="#009fc8" background-color="#EEE">
          </ng-gauge>
        </div>
        </div>

        <div id="graph" class="col-md-4 col-sm-12 col-xs-12" style="height:266px">
          <div >
          <h3><i class="fas fa-microchip text-success"></i> CPU</h3>
          <hr>
          </div>
          <div class="col-md-12" style="text-align: center;">
          <ng-gauge id="gaugeChart" size="200" type="semi" thick="5"
            min="0" max="100" value="cpuUse"
            cap="round" append="%"
            foreground-color="#009fc8" background-color="#EEE">
            </ng-gauge>
          </div>
         </div>

         <div id="graph" class="col-md-4 col-sm-12 col-xs-12"  style="height:266px;padding: 0px">
           <div  class="col-sm-12 col-xs-12 col-md-12">
           <h3><i class="fas fa-list-alt text-success"></i> Pool <span class="pull-right">{{ctrl.activePool.length}}</span></h3>
           <hr>
           </div>
           <div class="col-md-12 col-xs-12 col-sm-12" style="overflow-y:auto; height: 205px;">
           
           <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0px" data-ng-repeat="pool in ctrl.activePool | orderBy:pool.name">
                 <div id="configGroupMonitoring2" class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 10px">
               <span class="col-md-4 col-sm-4 col-xs-4">{{pool.name}}</span>
               <span class="col-md-3 col-sm-2 col-xs-2 text-right">{{pool.pooledCount}}/{{pool.maximumSize}}</span>
              <div class="progress col-md-5 col-sm-6 col-xs-6" style="padding:0px">
                 <div class="progress-bar progress-bar-success" style="width: {{(pool.pooledCount/pool.maximumSize)*100}}%">
                 </div>
               </div>
             </div>
           </div>
           
          </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div >
            <h3><i class="fas fa-cogs text-success"></i> Configuration</h3>
            <hr>
            </div>
            <div class="tab-content">

                    <table class="table table-hover col-sm-12 col-xs-12 col-md-12">
                       <thead style="background:transparent">
                          <tr>
                             <th class="col-sm-6"><h4>Service</h4></th>
                             <th class="col-sm-2"><h4>Call</h4></th>
                             <th class="col-sm-4"><h4>Results</h4></th>
                          </tr>
                       </thead>
                       <tbody>
                          <tr  data-ng-repeat="service in services | orderBy:service.idService" style="background:transparent;">
                             <td class="col-sm-6" style="padding:0px;background:transparent"><div class="col-md-12 tdService tdTableDivLeft "><span class="tableSpan">{{service.idService}}</span></div></td>
                             <td class="col-sm-2" style="padding:0px;background:transparent"><div class="col-md-12 tdService tdTableDivCentre "><span class="tableSpan">{{totFailSucc[service.idService].Tot}}</span></div></td>
                             <td class="col-sm-4" style="padding:0px;background:transparent"><div class="col-md-12 tdService tdTableDivRight" style="padding-top:20px">
                                <div class="progress col-sm-12 col-xs-12" style="padding:0px">
                                    <div class="progress-bar progress-bar-success" style="width: {{(totFailSucc[service.idService].Succ/totFailSucc[service.idService].Tot)*100}}%">
                                      <span class="pull-left" style="margin-left:10px;position: relative;" data-ng-class="{'normal-text': totFailSucc[service.idService].Tot == 0}">{{totFailSucc[service.idService].Succ}}</span>
                                    </div>
                                    <div class="progress-bar progress-bar-danger" style="width: {{(totFailSucc[service.idService].Fail/totFailSucc[service.idService].Tot)*100}}%">
                                      <span class="pull-right" style="margin-right:10px;position: relative;" data-ng-class="{'normal-text': totFailSucc[service.idService].Tot == 0}">{{totFailSucc[service.idService].Fail}}</span>
                                    </div>
                                  </div>
                                </div>
                              </td>
                          </tr>
                       </tbody>
                    </table>
               <!-- <div class="col-sm-12" style="padding:0px">
                   <div class="col-md-4 col-sm-12 col-xs-12 panel-default" data-ng-repeat="service in services" >
                     <div id="configGroupMonitoring2" class="col-sm-12 col-xs-12 panel-body">
                  <div class="col-md-12 col-sm-12 col-xs-12"><h4 class="text-left col-sm-6 col-xs-6" style="padding-left:0px">{{service.idService}}</h4><h4 class="text-right col-sm-6" style="padding-right:0px">Call: {{totFailSucc[service.idService].Tot}}</h4></div>
                  <div class="progress col-sm-12 col-xs-12" style="padding:0px">
                     <div class="progress-bar progress-bar-success" style="width: {{(totFailSucc[service.idService].Succ/totFailSucc[service.idService].Tot)*100}}%">
                       <span class="pull-left" style="margin-left:10px;position: relative;" data-ng-class="{'normal-text': totFailSucc[service.idService].Tot == 0}">{{totFailSucc[service.idService].Succ}}</span>
                     </div>
                     <div class="progress-bar progress-bar-danger" style="width: {{(totFailSucc[service.idService].Fail/totFailSucc[service.idService].Tot)*100}}%">
                       <span class="pull-right" style="margin-right:10px;position: relative;" data-ng-class="{'normal-text': totFailSucc[service.idService].Tot == 0}">{{totFailSucc[service.idService].Fail}}</span>
                     </div>
                   </div>
                   </div>
                 </div> -->

            </div>
           </div>
           <div class="col-md-12 col-sm-12 col-xs-12 bottomAction" style="padding-right:0px; padding-left:0px">
             <div style="padding-left:5px">
               <h4>For full view of <a href="#/configuration"><strong>configurations</strong></a> and <a href="#/settings"><strong>pools settings</strong></a> ...</h4>
             </div>
           </div>
         </div>
      </div>
   </div>
</div>
