<div class="container-fluid">
   <div class="side-body">
      <div class="row " data-ng-controller="ScheduleFormController as ctrl">
          <div class="col-sm-12 col-md-12 col-xs-12 alertTop">
              <div id="fadeout" data-ng-repeat="alert in ctrl.alerts" class="fadeout alert2 alert-{{alert.type}}" role="alert">{{alert.msg}}</div>
            </div>
        <div class="intestazione col-md-12 col-sm-12 col-xs-12">
          <div id="headerTopic" class="col-md-12 col-sm-12 col-xs-12">
          <h2><i class="fas fa-calendar-plus"></i> New scheduled execution</h2>
        </div>
        </div>
            <form name="taskForm" data-ng-submit="taskForm.$valid && save()" novalidate>
                  <div class="col-sm-12" style="margin-top:20px">
                     <label class="col-sm-2">Cron Expression</label>
                     <div>
                        <quartz-cron-selection  style="margin-bottom:20px;" class="col-sm-6" output="schedule.cronExpression"></quartz-cron-selection>
                     </div>
                     <div class="col-sm-3"><input id="noTab" type="text" id="cronExpression" name="cronExpression" class="form-control" ng-model="schedule.cronExpression" required></div>
                     <p style="margin: 0">
                        <span data-ng-show="taskForm.submitted && taskForm.cronExpression.$error.required" class="text-warning">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        A cron-expression is required
                        </span>
                     </p>
                     <div class="col-sm-1 text-right" id="fa-btn">
                        <a type="button" class="text-info" data-toggle="collapse" data-target="#info"><i class="fas fa-info-circle fa-2x" aria-hidden="true"></i></a>
                     </div>
                     <div id="info" class="collapse col-sm-offset-2 col-sm-10" style="margin-bottom:10px;margin-top:10px;">
                       <div class="col-sm-5">
                        &nbsp; <strong>1st position</strong>: seconds <br>
                        &nbsp; <strong>2nd position</strong>: minutes <br>
                        &nbsp; <strong>3rd position</strong>: hours <br>
                        &nbsp; <strong>4th position</strong>: day of the month <br>
                        &nbsp; <strong>5th position</strong>: month <br>
                        &nbsp; <strong>6th position</strong>: day of week <br>
                        &nbsp; <strong>7th position</strong>: year <br><br>
                      </div>
                      <div class="col-md-5">
                        Each element can have the characters following (in addition to the numbers): <br>
                        &nbsp; <strong>*</strong> = all values <br>
                        &nbsp; <strong>?</strong> = no specific value <br>
                        &nbsp; <strong>-</strong> = specify ranges <br>
                        &nbsp; <strong>,</strong> = additional values <br>
                        &nbsp; <strong>/</strong> = increment <br>
                        &nbsp; <strong>L</strong> = last <br>
                        &nbsp; <strong>W</strong> = weekday <br>
                        &nbsp; <strong>#</strong> = specify the day of month
                      </div>
                     </div>

                  </div>
                  <div class="col-sm-12">
                     <div class="form-group clearfix">
                        <label id="labelLeft" class="col-sm-2 control-label">Operation</label>
                        <div class="col-sm-4">
                           <select id="flow" name="flow"
                              class="select-form" ng-model="flow"
                              ng-options="entry.operation group by entry.service for entry in operations"
                              required>
                              <option value="">------</option>
                           </select>
                           <p style="margin: 0">
                              <span data-ng-show="taskForm.submitted && taskForm.flow.$error.required" class="text-warning">
                              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                              Required
                              </span>
                           </p>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-12">
                     <label id="labelLeft" class="col-sm-2 control-label">Body</label>
                     <div class="col-sm-9 form-group">
                        <textarea id="noTab" class="form-control" rows="5" ng-model="schedule.object"></textarea>
                     </div>
                  </div>
                  <div class="col-sm-12" style="margin-bottom:15px" >
                    <label s class="col-sm-2 control-label">Properties</label>
                     <div class="col-sm-4"><input type="text" class="input-form" ng-model="key" placeholder="key"></div>
                     <div class="col-sm-4"><input type="text" class="input-form" ng-model="value" placeholder="value"></div>
                     <div class="col-sm-2 text-right"><button id="fabuttonplus" type="button" class="btn btn-info" ng-click="addParameter()"><i class="fas fa-plus"></i> Add</button></div>
                  </div>
                  <div ng-repeat="(key,param) in schedule.properties">
                     <div class="form-group clearfix col-sm-12">
                        <div id="propertiesLeft" class="col-sm-offset-2 col-sm-5 col-xs-6"><strong>{{key}}</strong></div>
                        <div id="propertiesRight" class="col-sm-5 col-xs-6">
                          {{param}}
                          <button type="button" class="pull-right btn-sm btn-danger " data-ng-click="removeParameter(key)"><i class="fas fa-times"></i></button>
                        </div>
                     </div>
                  </div>
            <div class="divAlign col-sm-12 text-right bottomAction">

                  <button type="button" class="btn btn-warning" data-ng-click="go('schedule')"><i class="fas fa-times" aria-hidden="true"></i> Back</button>


                  <button type="submit" class="btn btn-success" data-ng-click="taskForm.submitted = true"><i class="fas fa-save" aria-hidden="true"></i> Save</button>

              </div>
            </form>
      </div>
   </div>
</div>
</div>
