<div class="container-fluid">
<div class="side-body">


         <h1>New scheduled execution</h1>

      <div class="container row " data-ng-controller="ScheduleFormController as ctrl">

         <div id="fadeout" data-ng-repeat="alert in ctrl.alerts" class="fadeout alert alert-{{alert.type}}" role="alert">{{alert.msg}}</div>

         <div class="panel panel-default" style="overflow-x:auto;">
           <div id="panelHead"  class="panel-heading">
             <i class="fa fa-list" aria-hidden="true"></i>
               Scheduler Form
           </div>
           <div class="panel-body container-fluid">
          <form name="taskForm" data-ng-submit="taskForm.$valid && save()" novalidate>
            <div>
                  <label id="labelLeft" class="col-sm-3 control-label">Cron Expression</label>
                  <div class="col-sm-8"><input type="text" id="cronExpression" name="cronExpression" class="form-control" ng-model="schedule.cronExpression" required></div>
               <p style="margin: 0">
                  <span data-ng-show="taskForm.submitted && taskForm.cronExpression.$error.required" class="text-warning">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  A cron-expression is required
                  </span>
               </p>
               <div class="col-sm-1" >
               <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#demo"><i class="fa fa-question" aria-hidden="true"></i></button>
             </div>

                  <div id="demo" class="collapse col-sm-offset-3 col-sm-9" style="margin-top:10px;">
                  Crono Expression: <br>
                  &nbsp; <strong>1st position</strong>: seconds <br>
                  &nbsp; <strong>2nd position</strong>: minutes <br>
                  &nbsp; <strong>3rd position</strong>: hours <br>
                  &nbsp; <strong>4th position</strong>: day of the month <br>
                  &nbsp; <strong>5th position</strong>: month <br>
                  &nbsp; <strong>6th position</strong>: day of week <br>
                  &nbsp; <strong>7th position</strong>: year <br><br>
                  Each element can have the characters following (in addition to the numbers): <br>
                  &nbsp; <strong>*</strong> = all values <br>
                  &nbsp; <strong>?</strong> = no specific value <br>
                  &nbsp; <strong>-</strong> = specify ranges <br>
                  &nbsp; <strong>,</strong> = additional values <br>
                  &nbsp; <strong>/</strong> = increment <br>
                  &nbsp; <strong>L</strong> = last <br>
                  &nbsp; <strong>W</strong> = weekday <br>
                  &nbsp; <strong>#</strong> = specify the day of month
                </div>
              <div>
                 <quartz-cron-selection  style="margin-top: 10px; margin-bottom:20px;" class="col-sm-offset-3 col-sm-7" output="schedule.cronExpression"></quartz-cron-selection>
              </div>
              </div>
            <div>
               <div class="form-group clearfix">
                  <label id="labelLeft" class="col-sm-3 control-label">Operation</label>
                  <div class="col-sm-8">
                     <select id="flow" name="flow"
                        class="form-control" ng-model="flow"
                        ng-options="entry.operation group by entry.service for entry in operations"
                        required>
                        <option value="">------</option>
                     </select>
                     <p style="margin: 0">
                        <span data-ng-show="taskForm.submitted && taskForm.flow.$error.required" class="text-warning">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Required
                        </span>
                     </p>
                  </div>
               </div>
            </div>
               <div class="form-group clearfix">
                  <label id="labelLeft" class="col-sm-3 control-label">Body</label>
                  <div class="col-sm-8">
                     <textarea class="form-control" rows="5" ng-model="schedule.object"></textarea>
                  </div>
               </div>
              <label s class="col-sm-3 control-label">Properties</label>
               <div class="form-group clearfix">
                  <div class="col-sm-4"><input type="text" class="form-control" ng-model="key" placeholder="key"></div>
                  <div class="col-sm-4"><input type="text" class="form-control" ng-model="value" placeholder="value"></div>
                  <button id="fabuttonplus" class="btn btn-default" ng-click="addParameter()"><i class="fa fa-plus"></i></button>
               </div>
               <div ng-repeat="(key,param) in schedule.properties">
                  <div class="form-group clearfix">
                     <div class="col-sm-offset-3 col-sm-4"><strong>{{key}}</strong></div>
                     <div class="col-sm-4">{{param}}</div>
                     <div class="col-sm-1"><a class="close pull-left" ng-click="removeParameter(key)">×</a></div>
                  </div>
               </div>
                         </div>
                         <div id="panelPagination" class="panel-footer">
                           <div class="row">
               <div class="form-group">
                  <div>
                     <button type="button" class="btn btn-default pull-left" data-ng-click="go('schedule')"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back</button>
                     <button type="submit" class="btn btn-primary pull-right" data-ng-click="taskForm.submitted = true"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
                  </div>
               </div>
             </div>
           </div>
         </form>
       </div>

         </div>
       </div>
   </div>
</div>
