<!-- Header Bar -->
<nav class="navbar navbar-default" role="navigation">
	<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand"><img src="imgs/header.png" class="img-responsive"> GV ESB 4</a>
	</div>
	<div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
		<ul class="nav navbar-nav navbar-right">
			<li data-ng-class="{ active: routeIsIn('/users')}" ><a href="#/users">Users</a></li>
			<li data-ng-class="{ active: routeIsIn('/schedule')}"><a href="#/schedule">Scheduling</a></li>
			<li data-ng-class="{ active: routeIsIn('/config')}"><a href="#/config">Configuration</a></li>
			<li><a data-ng-click="app.logout()" href="/gvconsole"><i class="glyphicon glyphicon-log-out"></i> Log out</a></li>
		</ul>
	</div>
	</div>
</nav>
<!-- End Header Bar -->
