<div class="container-fluid">
  <div class="side-body">

    		<h1 data-ng-hide="newUser">GVESB User: {{ctrl.user.username}}</h1>
    		<h1 data-ng-show="newUser">GVESB New user </h1>

      <div class="container row" data-ng-controller="UserFormController as ctrl">
    		<div  data-ng-switch="userDataStatus">

    			<div data-ng-repeat="alert in ctrl.alerts" class="fadeout alert alert-{{alert.type}}" role="alert">{{alert.msg}}</div>

    			<p class="text-center text-success" data-ng-switch-when="loading">
    				<i class="fa fa-spinner fa-5x fa-pulse" ></i>
    			</p>

    			<p class="text-center text-warning" data-ng-switch-when="error">
    				<i class="fa fa-frown-o fa-5x" ></i>
    				<button type="button" class="btn btn-link" data-ng-click="go('users')">users</button>
    			</p>



              <div class="panel panel-default" style="overflow-x:auto;">
                <div id="panelHead"  class="panel-heading">
                  <i class="fa fa-list" aria-hidden="true"></i>
                    User Form
                </div>
                <div class="panel-body container-fluid">
                  <form name="userForm" class="form-horizontal" data-ng-switch-when="ready"
            					data-ng-submit="userForm.$valid && ctrl.saveUser()" novalidate>
    			  <div data-ng-show="newUser" class="form-group" data-ng-class="{ 'has-error':  userForm.submitted && userForm.username.$invalid }">
    			    <label id="labelLeft" for="username" class="col-sm-3 control-label">Username</label>
    			    <div class="col-sm-6">
    			      <input id="username" name="username" type="text"
    			      		class="form-control" placeholder="Username"
    			      		data-ng-model="ctrl.user.username"
    			      		data-ng-minlength="4" data-ng-maxlength="256" required>
    			       	<p style="margin: 0">
    			       		<span data-ng-show="userForm.submitted && userForm.username.$error.required" class="text-warning">
    			       			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    			       			Required
    			       		</span>
    			       		<span data-ng-show="userForm.username.$error.minlength" class="text-warning">
    			       			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    			       			Min length 4
    			       		</span>
      				 		<span data-ng-show="userForm.username.$error.maxlength" class="text-warning">
      				 			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      				 			Max length 28
      				 		</span>
      				 	&ensp;</p>
    			    </div>
    			  </div>

    			  <div class="form-group" data-ng-class="{ 'has-error': userForm.submitted && userForm.fullname.$invalid }">
    			    <label id="labelLeft" for="fullname" class="col-sm-3 control-label">Full name</label>
    			    <div class="col-sm-6">
    			      <input id="fullname" name="fullname" type="text" class="form-control" placeholder="Full name" data-ng-model="ctrl.user.userInfo.fullname">
    			    	<p style="margin: 0">
    			       		<span data-ng-show="userForm.submitted && userForm.fullname.$invalid"
    			       		class="text-warning">
    				       		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    				       		Required
    			       		</span>
      				 	&ensp;</p>
    			    </div>
    			  </div>

    			  <div class="form-group" data-ng-class="{ 'has-error': userForm.submitted && userForm.email.$invalid }">
    			    <label id="labelLeft" for="email" class="col-sm-3 control-label">E-mail</label>
    			    <div class="col-sm-6">
    			      <input id="email" name="email" type="email" class="form-control" placeholder="E-mail" data-ng-model="ctrl.user.userInfo.email">
    			    	<p style="margin: 0">
    			       		<span data-ng-show="userForm.submitted && userForm.email.$invalid" class="text-warning">
    				       		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    				       		Invalid email address
    			       		</span>
      				 	&ensp;</p>
    			    </div>
    			  </div>

    			  <div class="form-group" data-ng-hide="newUser">
    			  	<label id="labelLeft" class="col-sm-3 control-label">Status</label>
    			    <div class="col-sm-6">
    				    <h4 style="margin: 0">
    				      <label class="label label-success" data-ng-show="ctrl.user.enabled"><i class="fa fa-check"></i>&ensp;Active</label>
    				      <label class="label label-danger" data-ng-hide="ctrl.user.enabled"><i class="fa fa-ban"></i>&ensp;Banned</label>
    				      <label class="label label-warning" data-ng-show="ctrl.user.expired"><i class="fa fa-key"></i>&ensp;Expired</label>
    				    </h4>
    				    <p style="margin-top: 6px">&ensp;</p>
    			    </div>
    			  </div>

    			  <div class="form-group" >
    			    <label id="labelLeft" class="col-sm-3 control-label">Roles</label>
    			    <div class="col-sm-6">


    			     	<div>

                  <div class="input-group">
      							<input id="newrole" name="newrole" class="form-control" type="text" placeholder="Add..."
      								   data-uib-typeahead="role.name for role in ctrl.roles | filter:$viewValue | limitTo:8"
      								   data-ng-model="ctrl.newrole" pattern="(?=^.{4,28}$)^[a-zA-Z][a-zA-Z0-9._@-]*[a-zA-Z0-9]+$"/>

                      <span class="input-group-btn">
                        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#showrole">
                          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Show Roles</button>
                          <button type="button" class="btn btn-default" data-ng-click="userForm.newrole.$valid && ctrl.addRole()">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                          </button>
                      </span>
                    </div>


                    <!--Choose Role from the Dropdown list-->
                    <div id="showrole" class="collapse">
                      <div class="input-group-btn">
                        <select ng-model="ctrl.newrole" class="form-control">
                          <option value="" disabled selected >Choose role</option>
                          <option id="newrole" class="list-group-item list-group-item-action list-group-item-info" data-ng-repeat="role in ctrl.roles">{{role.name}}</option>
                        </select>
                      </div>
                    </div>
                    <p style="margin: 0">&ensp;</p>

    		      				 <span data-ng-show="userForm.newrole.$invalid" class="text-warning">
    					       		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    					       		Invalid role name
    				       		</span>
    						<ul class="list-group">
    	  						<li data-ng-repeat="(key,role) in ctrl.user.roles" class="list-group-item">
    	    						{{role.name}}
    	    						<button type="button" class="btn  btn-xs pull-right" data-ng-click="ctrl.removeRole(key)"><i class="fa fa-times" aria-hidden="true" ></i></button>
    				     		</li>
    				     	</ul>
    			     	</div>

    			    </div>
    			  </div>


    			</form>
    		</div>
        <div id="panelPagination" class="panel-footer">
          <div class="row">
            <button type="button" class="btn btn-default pull-left" data-ng-click="go('users');"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back</button>
            <button type="submit" class="btn btn-primary pull-right" data-ng-click="userForm.submitted = true"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>

            <div class="pull-right" data-ng-hide="newUser">

              <button type="button" class="btn btn-info" data-ng-click="ctrl.switchUserStatus()"><i data-ng-class="{'fa fa-ban': ctrl.user.enabled == true, 'fa fa-check': ctrl.user.enabled == false}" aria-hidden="true"></i> {{ctrl.user.enabled?'Disable':'Enable'}}</button>
              <button type="button" class="btn btn-warning"  data-ng-hide="ctrl.user.expired" data-ng-click="ctrl.resetUserPassword()"><i class="fa fa-refresh" aria-hidden="true"></i> Reset</button>
              <!-- DELETE CONFIRM WINDOW -->
              <button type="button" class="btn btn-danger" style="margin-right: 3px;" id="myBtn"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
              <div id="myModal" class="modal fadeout" style="color: #000;">
                <div class="modal-content">
              <h4>Are you sure to delete this user?</h4>
              <button type="button" class="btn btn-default exite"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back</button>
              <button type="button" data-ng-click="ctrl.deleteUser()" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Confirm</button>

            </div>
          </div>
          <script type="text/javascript" src="scripts/delete_wind.js"></script>

            </div>

      </div>
    </div>
      </div>
    </div>
    	</div>

</div>
</div>
