<div class="container-fluid">
   <div class="side-body">
      <div class="row" data-ng-controller="UserFormController as ctrl">
        <div class="intestazione col-md-12 col-sm-12 col-xs-12">
          <div id="headerTopic" class="col-md-12 col-sm-12 col-xs-12">
          <h2 data-ng-hide="newUser"><i class="fas fa-user"></i> Modify User - {{ctrl.user.username}}</h2>
          <h2 data-ng-show="newUser"><i class="fas fa-user-plus"></i> New user </h2>
        </div>
        </div>
         <div  data-ng-switch="userDataStatus">
           <div class="col-sm-12 col-md-12 col-xs-12 alertTop">
            <div data-ng-repeat="alert in ctrl.alerts" class="fadeout alert2 alert-{{alert.type}}" role="alert">{{alert.msg}}</div>
          </div>
            <p class="text-center text-success" data-ng-switch-when="loading">
               <i class="fa fa-spinner fa-5x fa-pulse" ></i>
            </p>
            <p class="text-center text-warning" data-ng-switch-when="error">
               <i class="fa fa-frown-o fa-5x" ></i>
               <button type="button" class="btn btn-link" data-ng-click="go('users')">users</button>
            </p>
               <form name="userForm" class="form-horizontal" data-ng-switch-when="ready"
                  data-ng-submit="userForm.$valid && ctrl.saveUser()" novalidate>
                     <div data-ng-show="newUser" class="col-md-12" data-ng-class="{ 'has-error':  userForm.submitted && userForm.username.$invalid }" style="margin-top:20px">
                        <label id="labelLeft" for="username" class="col-md-2 control-label">Username</label>
                        <div class="col-md-8">
                           <input id="username" name="username" type="text"
                              class="input-form" placeholder="Username"
                              data-ng-model="ctrl.user.username"
                              data-ng-minlength="4" data-ng-maxlength="256" required>
                           <p style="margin: 0">
                              <span data-ng-show="userForm.submitted && userForm.username.$error.required" class="text-warning">
                              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                              Required
                              </span>
                              <span data-ng-show="userForm.username.$error.minlength" class="text-warning">
                              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                              Min length 4
                              </span>
                              <span data-ng-show="userForm.username.$error.maxlength" class="text-warning">
                              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                              Max length 28
                              </span>
                              &ensp;
                           </p>
                        </div>
                     </div>
                     <div class="col-md-12" data-ng-class="{ 'has-error': userForm.submitted && userForm.fullname.$invalid }" style="margin-top:20px">
                        <label id="labelLeft" for="fullname" class="col-md-2 control-label">Full name</label>
                        <div class="col-md-8">
                           <input id="fullname" name="fullname" type="text" class="input-form" placeholder="Full name" data-ng-model="ctrl.user.userInfo.fullname">
                           <p style="margin: 0">
                              <span data-ng-show="userForm.submitted && userForm.fullname.$invalid"
                                 class="text-warning">
                              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                              Required
                              </span>
                              &ensp;
                           </p>
                        </div>
                     </div>
                     <div class="col-md-12" data-ng-class="{ 'has-error': userForm.submitted && userForm.email.$invalid }">
                        <label id="labelLeft" for="email" class="col-md-2 control-label">E-mail</label>
                        <div class="col-md-8">
                           <input id="email" name="email" type="email" class="input-form" placeholder="E-mail" data-ng-model="ctrl.user.userInfo.email">
                           <p style="margin: 0">
                              <span data-ng-show="userForm.submitted && userForm.email.$invalid" class="text-warning">
                              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                              Invalid email address
                              </span>
                              &ensp;
                           </p>
                        </div>
                     </div>
                     <div class="col-md-12" data-ng-hide="newUser">
                        <label id="labelLeft" class="col-md-2 control-label">Status</label>
                        <div class="col-md-10">
                           <h4 style="margin: 0">
                              <label class="label label-success" data-ng-show="ctrl.user.enabled"><i class="fa fa-check"></i>&ensp;Active</label>
                              <label class="label label-danger" data-ng-hide="ctrl.user.enabled"><i class="fa fa-ban"></i>&ensp;Banned</label>
                              <label class="label label-warning" data-ng-show="ctrl.user.expired"><i class="fa fa-key"></i>&ensp;Expired</label>
                           </h4>
                           <p style="margin-top: 6px">&ensp;</p>
                        </div>
                     </div>
                     <div class="col-md-12" style="margin-bottom:20px">
                       <label id="labelLeft" class="col-md-2 control-label">Roles</label>
                       <div class="col-md-10">
                         <label data-ng-repeat="(key,role) in ctrl.user.roles" data-ng-class="{'label label-success': role.description == 'Created by GV', 'label label-info': role.description != 'Created by GV'}" style="font-size:14px; margin-right:5px">{{role.name}}<button type="button" class="btn  btn-xs" data-ng-click="ctrl.removeRole(key)" style="background-color: transparent;"><i class="fa fa-times" aria-hidden="true" ></i></button></label>
                       </div>
                     </div>
                       <div class="col-md-12" id="table" style="padding-top:10px">
                        <div class="col-md-2" style="padding-left:0px">
                          <h4 >Create new role: </h4>
                        </div>
                        <div class="col-md-3">
                          <!--  data-uib-typeahead="role.name for role in ctrl.roles | filter:$viewValue | limitTo:8" -->
                          <input id="newrole" name="newrole" class="input-form" type="text" placeholder="Name"
                             data-ng-model="ctrl.newrole" pattern="(?=^.{3,28}$)^[a-zA-Z][a-zA-Z0-9._@-]*[a-zA-Z0-9]+$" style="background-color: transparent;margin-top:10px;margin-bottom:10px"/>
                        </div>
                        <div class="col-md-5">
                          <input type="text" id="newDescription" name="newDescription" data-ng-model="ctrl.newDescription" class="input-form" placeholder="Description" style="background-color: transparent;margin-top:10px;margin-bottom:10px"/>
                        </div>
                        <div class="col-md-2 text-right">
                          <button type="button" class="btn btn-success" data-ng-click="userForm.newrole.$valid && userForm.newDescription.$valid && ctrl.addRole()" style="margin-top:10px;margin-bottom:10px"><i class="fas fa-plus"></i> Create</button>
                        </div>
                      </div>

                           <div class="col-md-12" id="table">
                             <table class="table table-hover col-md-12">
                                <thead style="background:transparent">
                                  <tr>
                                    <th class="col-sm-2"><h4>Name</h4></th>
                                    <th class="col-sm-9"><h4>Description</h4></th>
                                    <th class="col-sm-1 text-right"><h4>Action</h4></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr  class="tableTd" data-ng-repeat="(key,role) in ctrl.roles | filter: { name: ctrl.newrole}"  style="background:transparent;">
                                    <td class="col-sm-2" id="newrole" style="padding:0px;background:transparent"><div class="col-md-12 tdTableDivLeft">{{role.name}}</div></td>
                                    <td class="col-sm-9" style="padding:0px;background:transparent"><div class="col-md-12 tdTableDivCentre">{{role.description}}</div></td>
                                    <td class="col-sm-1"  style="padding:0px;background:transparent">
                                     <div class="col-md-12 tdTableDivRight text-right">
                                       <button type="button" data-ng-class="{'btn btn-info': !ctrl.user.roles[role.name], 'btn btn-success': ctrl.user.roles[role.name]}" data-ng-click="ctrl.addExistRole(role)">
                                         <i data-ng-class="{'fas fa-plus': !ctrl.user.roles[role.name], 'fas fa-check': ctrl.user.roles[role.name]}" aria-hidden="true"></i>
                                       </button>
                                      </div>
                                     </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <!--
                              <div id="showrole" class="collapse">
                                 <div class="input-group-btn">
                                    <select ng-model="ctrl.newrole" class="input-form">
                                       <option value="" disabled selected >Choose role</option>
                                       <option id="newrole" class="list-group-item list-group-item-action list-group-item-info" data-ng-repeat="role in ctrl.roles">{{role.name}}</option>
                                    </select>
                                 </div>
                              </div>
                              <p style="margin: 0">&ensp;</p>
                              <span data-ng-show="userForm.newrole.$invalid" class="text-warning">
                              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                              Invalid role name
                            </span>

                          </div> -->
                           <div class="divAlign col-md-12 text-right bottomAction" data-ng-show="newUser">

                                 <button type="button" class="btn btn-warning" data-ng-click="go('users');"><i class="fas fa-times" aria-hidden="true"></i> Cancel</button>

                                 <button type="submit" class="btn btn-success" data-ng-click="userForm.submitted = true"><i class="fas fa-save" aria-hidden="true"></i> Save</button>

                             </div>

                             <div class="divAlign col-md-12 text-right bottomAction" data-ng-hide="newUser">

                                   <button type="button" class="btn btn-warning " data-ng-click="go('users');"><i class="fas fa-times" aria-hidden="true"></i> Cancel</button>

                                   <button type="button" class="btn btn-info " data-ng-click="ctrl.switchUserStatus()"><i data-ng-class="{'fas fa-ban': ctrl.user.enabled == true, 'fas fa-check-circle': ctrl.user.enabled == false}" aria-hidden="true"></i> {{ctrl.user.enabled?'Disable':'Enable'}}</button>
                                 <button data-ng-hide="ctrl.user.expired" type="button" class="btn btn-info " data-ng-click="ctrl.resetUserPassword()"><i class="fas fa-exclamation-circle" aria-hidden="true"></i> Reset</button>
                               <button  data-ng-show="ctrl.user.expired" type="button" class="btn btn-info " data-ng-click="ctrl.resetUserPassword()" disabled><i class="fas fa-exclamation-circle" aria-hidden="true"></i> Reset</button>

                               <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-danger" style="margin-right: 3px;" id="myBtn"><i class="fas fa-trash" aria-hidden="true"></i> Delete</button>


                                   <button type="submit" class="btn btn-success" data-ng-click="userForm.submitted = true"><i class="fas fa-save" aria-hidden="true"></i> Save</button>

                               </div>
                               <div id="myModal" class="deleteForm modal fade">
                               <div class="modal-content">
                                 <div class="modal-header">
                                   <div class="col-sm-3">
                                     <h3>Delete</h3>
                                   </div>
                                 </div>
                                 <div class="modal-body">
                                   <h4> Are you sure to delete <span style="color:red">{{ctrl.user.username}}</span> ? </h4>
                                 </div>
                                 <div class="modal-footer">
                                   <div class="col-md-12 text-right footerModal">
                                     <button type=" button" class="btn btn-warning" data-dismiss="modal"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back</button>
                                     <button type="button" class="btn btn-danger" data-ng-click="ctrl.deleteUser()"><i class="fa fa-trash" aria-hidden="true"></i> Confirm</button>
                                  </div>
                                 </div>
                               </div>
                             </div>
               </form>
         </div>
      </div>
   </div>
</div>
