<div class="container-fluid">
  <div class="side-body">
  <h1> Configuration XML </h1>

    <div class="row" data-ng-controller="SettingsController">

<!-- ***********************   GVCryptoHelper   **************************** -->

	<form id="formCryptoHelper" data-ng-hide="true">
      <div class="panel panel-default" style="overflow-x:auto; ">
        <div id="panelHead"  class="panel-heading Clickable" data-toggle="collapse" data-target="#contentCryptoHelper"><i class="fa fa-code"></i> GVCryptoHelper
          <i aria-hidden="true" class="fa fa-chevron-down  fa-2x pull-right"></i>
        </div>
        <div class="pannel-body container-fluid collapse" id="contentCryptoHelper">

          <div class="form-group clearfix">
            <fieldset class="col-md-11 fieldset-xmlconfig">
              <legend>KeyStoreID</legend>
              <div class="panel panel-default">
						    <div class="panel-body">
							     <div class="form-group clearfix">
                        <div class="col-sm-3"><label class="control-label optionForm">id:</label>
                        <input id="KeyStoreIDID" type="text" class="form-control" required></div>
                        <div class="col-sm-3"><label class="control-label optionForm">key-store-type:</label>
                          <select class="form-control" >
                            <option value="" selected>JCEKS - default</option>
                            <option value="">JKS</option>
                            <option value="">PKCS12</option>
                          </select>
                        </div>
                        <div class="col-sm-3"><label class="control-label optionForm">key-store-prv:</label>
                             <select class="form-control" >
                               <option value="" selected>SunJCE - default</option>
                               <option value="">SUN</option>
                               <option value="">BC</option>
                             </select>
                           </div>
                         </div>
                           <div class="form-group clearfix">
                           <div class="col-sm-3"><label class="control-label optionForm">key-store-name:</label>
                              <input type="password" class="form-control" required></div>
                           <div class="col-sm-3"><label class="control-label optionForm">key-store-pdw:</label>
                              <input type="password" class="form-control" required></div>
                           <div class="col-sm-3"><label class="control-label optionForm">Description:</label>
             				<input type="text" class="form-control"></div>
                   </div>
                   <button class="btn btn-default pull-right" id="fabuttonplus" data-ng-click="addKeyStoreID()"><i class="fa fa-plus"></i></button>
						    </div>
					    </div>
            </fieldset>
        </div>
<!-- INSERIRE QUI -->



        <div class="form-group clearfix">
          <fieldset class="col-md-11 fieldset-xmlconfig">
            <legend>KeyID</legend>
            <div class="panel panel-default">
              <div class="panel-body">
                 <div class="form-group clearfix">
                        <div class="col-sm-3"><label class="control-label optionForm">id:</label>
                        <input type="text" class="form-control" required></div>
                        <div class="col-sm-3"><label class="control-label optionForm">key-type:</label>
                          <select class="form-control"> <!-- required -->
                            <option value="">3DES</option>
                            <option value="">DES</option>
                            <option value="">RSA</option>
                          </select>
                        </div>
                        <div class="col-sm-3"><label class="control-label optionForm col-sm-8">key-store-id:</label>
                        <input type="text" class="form-control" required></div>
                 </div>
                 <div class="form-group clearfix">
                 		<div class="col-sm-3"><label class="control-label optionForm col-sm-6">key-alias:</label>
                        <input type="text" class="form-control" required></div>
                        <div class="col-sm-3"><label class="control-label optionForm">key-pdw:</label>
                        <input type="password" class="form-control"></div>
                        <div class="col-sm-3"><label class="control-label optionForm">Description:</label>
         				<input type="text" class="form-control"></div>
                 </div>
                 <button class="btn btn-default pull-right" id="fabuttonplus" data-ng-click="addKeyID()"><i class="fa fa-plus"></i></button>
              </div>
            </div>
          </fieldset>
      </div>

      <!-- INSERIRE QUI -->


      <div>
        <a id="btnProp" onClick="slide();" class="btn btn-success pull-right" data-ng-click="sendCryptoHelper()">Send
        </a>
        <a id="btnProp"  onClick="window.location.reload(); slide();" class="btn btn-danger pull-left">Cancel
        </a>
      </div>
        </div>
      </div>
	</form>

<!-- **************************   GVPoolManager   ************************** -->

	<form id="formPoolManager">
      <div class="panel panel-default" style="overflow-x:auto;">
        <div id="panelHead"  class="panel-heading"><i class="fa fa-code"></i> GVPoolManagers</i>
        </div>
        <div class="panel-body container-fluid" id="contentPoolManager">

          <div class="form-group clearfix" data-ng-repeat="pool in settings.GVConfig.GVPoolManager.GreenVulcanoPool">
            <fieldset class="col-md-11 fieldset-xmlconfig">
              <legend>{{pool.subsystem}}</legend>
              <div class="panel panel-default">
                <div class="panel-body">
                   <div class="form-group clearfix">
                        <div class="col-sm-3"><label class="control-label optionForm">initial-size:</label>
                        <input type="text" class="form-control" data-ng-model="pool['initial-size']" pattern="[0-9]*" title="set a integer value > 0" required></div>
                        <div class="col-sm-3"><label class="control-label optionForm">maximum-size:</label>
                        <input type="text" class="form-control" data-ng-model="pool['maximum-size']" placeholder="10" pattern="(-1)|([1-9][0-9]*)" title="set -1 (not limited pool) or an integer > 0" required></div>
                        <div class="col-sm-3"><label class="control-label optionForm">maximum-creation:</label>
                        <input type="text" class="form-control" data-ng-model="pool['maximum-creation']" placeholder="50" pattern="(-1)|([1-9][0-9]*)" title="set -1 (unlimited number of creations) or an integer > 0" required></div>
                        </div>
                        <div class="form-group clearfix">
                          <div class="col-sm-3"><label class="control-label optionForm">default-timeout:</label>
                          <input type="text" class="form-control" data-ng-model="pool['default-timeout']" pattern="[1-9][0-9]*" title="set a integer value" required></div>
                          <div class="col-sm-3"><label class="control-label optionForm">shrink-timeout:</label>
                          <input type="text" class="form-control" data-ng-model="pool['shrink-timeout']" placeholder="15" pattern="(-1)|([1-9][0-9]*)" title="set -1 (disables resizing of the pool) or an integer > 0"></div>

                        </div>
                   <button class="btn btn-default pull-right" type="reset" id="fabuttonplus" ><i class="fa fa-plus"></i></button>
                </div>
              </div>
            </fieldset>
        </div>

        <!-- INSERIRE QUI -->


			<div>
        <a id="btnProp" href="" onClick="slide();" class="btn btn-success pull-right">Send
        </a>
        <a id="btnProp"  onClick="window.location.reload(); slide();" class="btn btn-danger pull-left">Cancel
        </a>
      </div>
        </div>
      </div>
 	</form>

<!-- **************************    GVBufferDump    ************************** -->

	<form id="formBufferDump" data-ng-hide="true">
      <div class="panel panel-default" style="overflow-x:auto;">
        <div id="panelHead"  class="panel-heading Clickable"  data-toggle="collapse" data-target="#contentBufferDump"><i class="fa fa-code"></i> GVBufferDump
          <i aria-hidden="true" class="fa fa-chevron-down  fa-2x pull-right"></i>
        </div>
        <div class="pannel-body container-fluid collapse" id="contentBufferDump">
          <br>
          <div class="form-group clearfix">
             <div class="col-sm-3"><label class="control-label optionForm">type:</label>
             <input type="text" class="form-control" value="module" disabled></div>
             <div class="col-sm-3"><label class="control-label optionForm">name:</label>
             <input type="text" class="form-control" value="BUFFER_DUMP" disabled></div>
             <div class="col-sm-3"><label class="control-label optionForm">log-dump-size:</label>
             <input type="text" class="form-control" placeholder="integer of bytes"></div>
             <div class="col-sm-3"><label class="control-label optionForm">Description:</label>
             <input type="text" class="form-control"></div>
          </div>
          <div class="form-group clearfix">
            <fieldset class="col-md-11 fieldset-xmlconfig">
              <legend>ServiceDump</legend>
              <div class="panel panel-default">
                <div class="panel-body">
                   <div class="form-group clearfix">
                        <div class="col-sm-3"><label class="control-label optionForm">id-service:</label>
                        <input type="text" class="form-control" required></div>
                        <div class="col-sm-3"><label class="control-label optionForm">log-dump-size:</label>
                        <input type="text" class="form-control" placeholder="integer of bytes"></div>
                        <div class="col-sm-3"><label class="control-label optionForm">Description:</label>
             			<input type="text" class="form-control"></div>
                        <fieldset class="col-md-11 fieldset-xmlconfig">
                          <legend>ClientDump</legend>
                          <div class="panel panel-default">
                            <div class="panel-body">
                               <div class="form-group clearfix">
                                    <div class="col-sm-3"><label class="control-label optionForm">id-system:</label>
                                    <input type="text" class="form-control" required></div>
                                    <div class="col-sm-3"><label class="control-label optionForm">log-dump-size:</label>
                                    <input type="text" class="form-control" placeholder="integer of bytes"></div>
                                    <div class="col-sm-3"><label class="control-label optionForm">Description:</label>
             						<input type="text" class="form-control"></div>
                                  </div>
                               <button class="btn btn-default pull-right" id="fabuttonplus" data-ng-click="addClientDump()"><i class="fa fa-plus"></i></button>
                            </div>
                          </div>
                        </fieldset>
                      </div>

                      <!-- INSERIRE QUI -->

                   <button class="btn btn-default pull-right" id="fabuttonplus" data-ng-click="addServiceDump()"><i class="fa fa-plus"></i></button>
                </div>
              </div>
            </fieldset>
        </div>

        <!-- INSERIRE QUI -->

        <div>
        <a id="btnProp" href="" onClick="slide();" class="btn btn-success pull-right">Send
        </a>
        <a id="btnProp"  onClick="window.location.reload(); slide();" class="btn btn-danger pull-left">Cancel
        </a>
      </div>
        </div>
      </div>
	</form>

<!-- ************************   GVStatisticConfig   **************************** -->

	<form id="formStatisticConfig" data-ng-hide="true">
      <div class="panel panel-default" style="overflow-x:auto;">
        <div id="panelHead"  class="panel-heading Clickable"  data-toggle="collapse" data-target="#contentStatisticConfig"><i class="fa fa-code"></i> GVStatisticConfig
          <i aria-hidden="true" class="fa fa-chevron-down fa-2x pull-right"></i>
        </div>
        <div class="pannel-body container-fluid collapse" id="contentStatisticConfig">

        <br>
          <div class="form-group clearfix">
             <div class="col-sm-3"><label class="control-label optionForm">type:</label>
             <input type="text" class="form-control" value="module" disabled></div>
             <div class="col-sm-3"><label class="control-label optionForm">name:</label>
             <input type="text" class="form-control" value="STATISTICS" disabled></div>
             <div class="col-sm-3"><label class="control-label optionForm">Description:</label>
             <input type="text" class="form-control"></div>
          </div>
          <div class="form-group clearfix">
            <fieldset class="col-md-11 fieldset-xmlconfig">
              <legend>Writers</legend>
              <div class="panel panel-default">
                <div class="panel-body">
                   <div class="form-group clearfix">
                        <div class="col-sm-3"><label class="control-label optionForm">default:</label>
                        <input type="text" class="form-control" placeholder="integer of bytes" required></div>
                        <div class="col-sm-3"><label class="control-label optionForm">Description:</label>
             			<input type="text" class="form-control"></div>
                      </div>
                   <button class="btn btn-default pull-right" id="fabuttonplus" data-ng-click="addWriters()"><i class="fa fa-plus"></i></button>
                </div>
              </div>
            </fieldset>

            <!-- INSERIRE QUI -->

            <fieldset class="col-md-11 fieldset-xmlconfig">
              <legend>ExtendedDataMappings</legend>
              <div class="panel panel-default">
                <div class="panel-body">
                   <div class="form-group clearfix">
                        <div class="col-sm-3"><label class="control-label optionForm">Description:</label>
             			<input type="text" class="form-control"></div>
             			<fieldset class="col-md-11 fieldset-xmlconfig">
			              <legend>ExtendedData</legend>
			              <div class="panel panel-default">
			                <div class="panel-body">
			                   <div class="form-group clearfix">
			                   		<div class="col-sm-3"><label class="control-label optionForm">system:</label>
             						<input type="text" class="form-control" required></div>
             						<div class="col-sm-3"><label class="control-label optionForm">service:</label>
             						<input type="text" class="form-control" required></div>
			                        <div class="col-sm-3"><label class="control-label optionForm">Description:</label>
			             			<input type="text" class="form-control"></div>
			                      </div>
			                   <button class="btn btn-default pull-right" id="fabuttonplus" data-ng-click="addExtendedData()"><i class="fa fa-plus"></i></button>
			                </div>
			              </div>
			            </fieldset>
                      </div>

                      <!-- INSERIRE QUI -->

                   <button class="btn btn-default pull-right" id="fabuttonplus" data-ng-click="addExtendedDataMappings()"><i class="fa fa-plus"></i></button>
                </div>
              </div>
            </fieldset>
        </div>

        <!-- INSERIRE QUI -->

          <div>
        <a id="btnProp" href="" onClick="slide();" class="btn btn-success pull-right">Send
        </a>
        <a id="btnProp"  onClick="window.location.reload(); slide();" class="btn btn-danger pull-left">Cancel
        </a>
      </div>
        </div>
      </div>
	</form>

    </div>
  </div>
</div>
