<div class="container-fluid">
   <div class="side-body">
   	<div class="container row" data-ng-controller="PoolSettingsFormController">
   	 <h1>Form GVPoolManager</h1>
   	 <form name="gvPoolManagerForm" data-ng-submit="gvPoolManagerForm.$valid && save()">
   	 <div data-ng-repeat="alert in alerts" class="fadeout alert alert-{{alert.type}}" role="alert">{{alert.msg}}</div>
   	 <div class="panel panel-default">
   	 	<div class="panel-heading"><i class="fa fa-list" aria-hidden="true"></i> GVPoolManager Form</div>
   	 	<div class="panel-body">
   	 		<div class="panel-body container-fluid">
   	 		<div class="form-group" data-ng-show="currentPoolIndex<0">
              <label id="labelLeft" class="col-sm-3 control-label">Name</label>
              <div class="col-sm-4">
                <input id="name" class="form-control " name="name" type="text" data-ng-model="currentPool.subsystem" required>
   	 		  </div>
   	 		</div>
   	 		
   	 		<label data-ng-show="currentPoolIndex>=0">{{currentPool.subsystem}}</label>
   	 		</div>
   	 		  <div class="panel-body container-fluid">
	 		<div class="form-group">
	 		  <label id="labelLeft" class="col-sm-3 control-label">Initial-size</label>
           	  <div class="col-sm-4">
             <input type="number" data-ng-model="currentPool['initial-size']" min="1" max="{{currentPool['maximum-creation']}}" class="text-right form-control" required>
	 		  </div>
	 		  </div>
	 		</div>
	 		<div class="panel-body container-fluid">
   	 		<div class="form-group">
   	 			<label id="labelLeft" class="col-sm-3 control-label">maximum-size</label>
   	 			<div class="col-sm-4">
   	 				<input type="number" class="text-right form-control" data-ng-model="currentPool['maximum-size']" max="{{currentPool['maximum-creation']}}">
   	 			</div>
   	 		</div>
   	 		</div>
   	 		<div class="panel-body container-fluid">
   	 		<div class="form-group">
   	 			<label id="labelLeft" class="col-sm-3 control-label">maximum-creation</label>
   	 			<div class="col-sm-4">
   	 				<input type="number" class="text-right form-control" data-ng-model="currentPool['maximum-creation']" >
   	 			</div>
   	 		</div>
   	 		</div>
   	 		<div class="panel-body container-fluid">
   	 		<div class="form-group">
   	 			<label id="labelLeft" class="col-sm-3 control-label">default-timeout(ms)</label>
   	 			<div class="col-sm-4">
   	 				<input class="text-right form-control" data-ng-model="currentPool['default-timeout']">
   	 			</div>
   	 		</div>
   	 		</div>
   	 		<div class="panel-body container-fluid">
   	 		<div class="form-group">
   	 			<label id="labelLeft" class="col-sm-3 control-label">shrink-timeout(ms)</label>
   	 			<div class="col-sm-4">
   	 				<input class="text-right form-control" data-ng-model="currentPool['shrink-timeout']">
   	 			</div>
   	 		</div>
   	 		</div>
   	 	</div>
      <div class="panel-footer">
      <div class="row">
      <div class="form-group">
      <div>
        <button type="button" class="btn btn-default pull-left" data-ng-click="go('settings')"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back</button>
        <button type="submit" class="btn btn-primary pull-right" data-ng-show="flag == true"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
        <button type="submit" class="btn btn-primary pull-right" data-ng-show="flag == false"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
      </div>
      </div>
      </div>
      </div>
   	 </div>
   	 </form>
   	</div>
   </div>
</div>
