<div class="container-fluid">
  <div class="side-body">
    <div class="row" data-ng-controller="SettingsController as ctrl" data-ng-init="ctrl.loadConfigInfo();">
      <div class="intestazione col-md-12 col-sm-12 col-xs-12">
        <div id="headerTopic" class="col-md-6 col-sm-6 col-xs-6">
        <h2><i class="fas fa-wrench"></i> Settings</h2>
      </div>
      <div id="configInfo" class="col-md-6 col-sm-6 col-xs-6">
        <div class="col-md-12 text-right">
          <h4 class="text-primary">Current version: <span class="text-info">{{ctrl.configInfo.id}}</span></h4>
        </div>
        <div class="col-md-12 text-right">
          <h4 class="text-primary">Deployed on: <span class="text-info">{{ctrl.configInfo.time | date : 'd MMMM yyyy H:mm:ss'}}</span></h4>
        </div>
      </div>
      </div>

	<form id="formPoolManager">

    <div id="panelHead" class="col-md-12 col-sm-12 col-xs-12">
      <h3 class="col-md-2 col-xs-6" style="margin-top:15px">Pool: {{poolSettings.GVPoolManager.GreenVulcanoPool.length}}</h3>
      <form>
        <div class="divAlign col-md-8 col-xs-6">
          <div class="pull-right" style="margin-right:10px">
          <i class="fas fa-search" aria-hidden="true"></i> <input class="input" type="text" placeholder="Search" data-ng-model="search">
          <!-- <button type="submit" class="btn btn-info pull-right" style="margin-left:10px" data-ng-click="search_order(search)"><i class="fas fa-search" aria-hidden="true"></i> Search</button> -->
        </div>
       </div>
      </form>
      <div class="divAlign col-md-2 col-xs-12 text-right">
            <a href="#/settings/new"><button data-ng-click="slide();" data-toggle="modal" data-target="#formModal" class="btn btn-success">
            <i class="fas fa-plus"></i> Add pool</button>
            </a>
          </div>
         </div>


        <div id="table" class="col-md-12" style="width:100%">
          <table class="table table-hover col-md-12">
             <thead style="background:transparent">
                  <tr>
                     <th class="col-sm-2"><h4>Name</h4></th>
                     <th class="col-sm-1"><h4>Initial Size</h4></th>
                     <th class="col-sm-2"><h4>Maximum Size</h4></th>
                     <th class="col-sm-2"><h4>Maximum Creation</h4></th>
                     <th class="col-sm-2"><h4>Default Timeout</h4></th>
                     <th class="col-sm-2"><h4>Shrink Timeout</h4></th> <!--  style="width:50px; display:block" -->
                     <th class="col-sm-1 text-right"><h4>Action</h4></th>
                  </tr>
               </thead>
               <tbody>
                  <tr class="tableTd" data-ng-repeat="pool in poolSettings.GVPoolManager.GreenVulcanoPool | filter: search" style="background:transparent;">
                     <td class="col-sm-2" style="padding:0px;background:transparent"><div class="col-md-12 tdTableDivLeft"><span class="tableSpan">{{pool.subsystem}}</span></div></td>
                     <td class="col-sm-1" id="init" style="padding:0px;background:transparent"><div class="col-md-12 tdTableDivCentre"><span class="tableSpan">{{pool['initial-size']}}</span></div></td>
                     <td class="col-sm-2" style="padding:0px;background:transparent"><div class="col-md-12 tdTableDivCentre"><span class="tableSpan">{{pool['maximum-size']}}</span></div></td>
                     <td class="col-sm-2" style="padding:0px;background:transparent"><div class="col-md-12 tdTableDivCentre"><span class="tableSpan">{{pool['maximum-creation']}}</span></div></td>
                     <td class="col-sm-2" style="padding:0px;background:transparent"><div class="col-md-12 tdTableDivCentre"><span class="tableSpan">{{pool['default-timeout']}}</span></div></td>
                     <td class="col-sm-2" style="padding:0px;background:transparent"><div class="col-md-12 tdTableDivCentre"><span class="tableSpan">{{pool['shrink-timeout']}}</span></div></td>
                     <td class="col-sm-1 text-right" style="padding:0px;background:transparent">
                      <div class="col-md-12 tdTableDivRight">
                       <button onClick="slide();" class="btn btn-info" data-ng-click="go('/settings/' + pool.subsystem)">
                       <i class="fas fa-pencil-alt"></i></button>
                      </div>
                     </td>
                  </tr>
               </tbody>
            </table>
            </div>
 	</form>

  </div>
 </div>
</div>
