<div class="container-fluid">
   <div class="side-body">
      <div class="row" data-ng-controller = "ConfigController as ctrl" data-ng-init="init(); ctrl.loadConfigInfo(); ctrl.loadAllConfig()">
        <div class="intestazione col-md-12 col-sm-12 col-xs-12">
          <div id="headerTopic" class="col-md-6 col-sm-6 col-xs-6">
          <h2><i class="fas fa-cogs"></i> Configuration</h2>
        </div>
        <div id="configInfo" class="col-md-6 col-sm-6 col-xs-6">
          <div class="col-md-12 text-right">
            <h4 class="text-primary">Current version: <span class="text-info">{{ctrl.configInfo.id}}</span></h4>
          </div>
          <div class="col-md-12 text-right">
            <h4 class="text-primary">Deployed on: <span class="text-info">{{ctrl.configInfo.time | date : 'd MMMM yyyy H:mm:ss'}}</span></h4>
          </div>
        </div>
        </div>
        <div id="panelHead" class="col-md-12">
          <h3 class="col-md-3 col-sm-6 col-xs-6" style="margin-top:15px">Service: {{nServices}}</h3>
          <div class="divAlign col-md-9 col-sm-6 col-xs-6 text-right">
            <div style="margin-right:10px">
              <!-- <span style="font-size:16px">Filter by version: </span>
            <select class="select">
              <option ng-repeat="(key, config) in Allconfig" ng-selected="config.id == ctrl.configInfo.id">{{config.id}}</option>
            </select> -->
            <button data-ng-click="toggleView = !toggleView" type="button" class="btn btn-info" style="margin-left:10px"><i data-ng-class="{'fas fa-eye' :!toggleView, 'fas fa-eye-slash' :toggleView}"></i> All operation </button>
          </div>
          </div>
         </div>
               <div class="tab-content">
                  <div class="col-sm-12 col-md-12 col-xs-12" id="table" style="padding-bottom: 15px;">
                      <div class="col-sm-12 col-md-12 col-xs-12">
                        <div class="col-md-6 col-sm-12 col-xs-12" data-ng-repeat="service in services">
                          <div id="configGroup" class="col-sm-12 col-md-12 col-xs-12">
                        <span class="col-md-4 col-sm-4 col-xs-4" style="overflow-x:auto;padding-left: 2px;"><i class="far fa-dot-circle"></i> {{service.idService}}</span>
                        <span class="col-md-1 col-sm-1 col-xs-1 text-right" style="padding-left:1px;">{{totFailSucc[service.idService].Tot}}</span>
                       <div class="progress col-md-7 col-sm-7 col-xs-7" style="padding:0px">
                          <div class="progress-bar progress-bar-success" style="width: {{(totFailSucc[service.idService].Succ/totFailSucc[service.idService].Tot)*100}}%">
                            <span class="pull-left" style="margin-left:10px;position: relative;" data-ng-class="{'normal-text': totFailSucc[service.idService].Tot == 0}">{{totFailSucc[service.idService].Succ}}</span>
                          </div>
                          <div class="progress-bar progress-bar-danger" style="width: {{(totFailSucc[service.idService].Fail/totFailSucc[service.idService].Tot)*100}}%">
                            <span class="pull-right" style="margin-right:10px;position: relative;">{{totFailSucc[service.idService].Fail}}</span>
                          </div>
                        </div>
                        </div>
                        <div id="configOperation" class="col-sm-12 col-md-12 col-xs-12" data-ng-hide="totExecutionOp[id_operation] == 0 && !toggleView" data-ng-repeat="operation in service.operations" > <!--  -->
                          <span class="col-md-4 col-sm-4 col-xs-4" style="padding-left:20px;overflow-x:auto" >{{operation.name}}</span>
                          <span class="col-md-1 col-sm-1 col-xs-1 text-right" style="padding-left:1px" ng-init ="id_operation = service.idService+'/'+operation.name">{{totExecutionOp[id_operation]}}</span>
                         <div class="progress col-md-7 col-sm-7 col-xs-7" style="padding:0px">
                            <div class="progress-bar progress-bar-success" style="width: {{(operation.successes/totExecutionOp[id_operation])*100}}%">
                              <span class="pull-left" style="margin-left:10px;position: relative;" data-ng-class="{'normal-text': totExecutionOp[id_operation] == 0}">{{operation.successes}}</span>
                            </div>
                            <div class="progress-bar progress-bar-danger" style="width: {{(operation.failures/totExecutionOp[id_operation])*100}}%">
                              <span class="pull-right" style="margin-right:10px;position: relative;" data-ng-class="{'normal-text': totExecutionOp[id_operation] == 0}">{{operation.failures}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
               </div>
      </div>
   </div>
</div>
</div>
