<app-header></app-header>
<div class="container-fluid">
<div class="side-body">
   <h1>Configuration</h1>
   <div class="row" data-ng-controller=" ConfigController as ctrl" data-ng-init="ctrl.loadConfigInfo()">
   <!-- FadeOut Function -->
   <div id="fadeout" data-ng-repeat="alert in ctrl.alerts" class="fadeout alert alert-{{alert.type}}" role="alert">{{alert.msg}}</div>
   <!-- FadeOut Function -->
      <div class="panel panel-default">
         <div class="panel-heading clearfix">
            <h4 class="panel-title pull-left" style="line-height: 34px; vertical-align: middle">
               <i class="fa fa-sitemap fa-rotate-270"></i> Current
            </h4>
         </div>
         <div class="panel-body">
            <div class="col-sm-8 col-sm-offset-2">
               <h2>
                  {{ctrl.configInfo.id}}
                  <p><small>{{ctrl.configInfo.time | date : 'd MMMM yyyy H:mm:ss'}}</small></p>
               </h2>
            </div>
         </div>
         <div class="panel-footer clearfix" style="text-align: center">
            <div class="pull-right">
               <img data-ng-show="exportInProgress"
                  src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
               <a id="export" data-ng-hide="exportInProgress" ng-click="ctrl.exportConfig()" class="btn btn-primary"><i class="fa fa-download"></i> Export</a>
            </div>
         </div>
      </div>
      <form id="deployForm" name="deployForm" class="form-horizontal"
         data-ng-submit="ctrl.deployConfiguration()">
         <div class="panel panel-default">
            <div class="panel-heading clearfix">
               <h4 class="panel-title pull-left" style="line-height: 34px; vertical-align: middle">
                  <i class="fa fa-sitemap fa-rotate-270"></i> New configuration
               </h4>
            </div>
            <div class="panel-body">
               <div class="form-group">
                  <div class="col-sm-8 col-sm-offset-2">
                     <input id="configid" name="configid" type="text" class="form-control"
                        placeholder="Configuration ID" pattern="(?=^.{1,64}$)^[a-zA-Z0-9._-]+$"
                        data-ng-maxlength="64" data-ng-model="ctrl.deploy.id" required>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-8 col-sm-offset-2">
                     <input id="configfile" name="configfile" type="file"
                        accept="application/zip" file-model="ctrl.deploy.configfile" required>
                  </div>
               </div>
            </div>
            <div class="panel-footer clearfix" style="text-align: center">
               <div class="pull-right">
                  <img data-ng-show="downloadInProgress"
                     src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                  <button type="submit" class="btn btn-success"
                     data-ng-hide="downloadInProgress"
                     data-ng-disabled="deployForm.$invalid || !(ctrl.deploy.configfile)">
                  <i class="fa fa-bolt"></i> Deploy</button>
               </div>
            </div>
         </div>
      </form>
   </div>
</div>
