<!DOCTYPE HTML>
<html id="width" manifest="gvconsole.appcache">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>GreenVulcano ESB Web Console</title>
      <link rel="stylesheet" href="libs/css/bootstrap.min.css"/>
      <link rel="stylesheet" href="libs/css/font-awesome.min.css"/>
      <link rel="stylesheet" href="libs/css/angular-quartz-cron.css"/>
      <link rel="stylesheet" href="libs/css/c3.min.css"/>
      <script type="text/javascript" src="libs/js/d3.min.js"></script>
      <script type="text/javascript" src="libs/js/c3.min.js"></script>
      <script type="text/javascript" src="libs/js/jquery-3.2.0.min.js"></script>
      <script type="text/javascript" src="libs/js/angular.js"></script>
      <script type="text/javascript" src="libs/js/angular-route.js"></script>
      <script type="text/javascript" src="libs/js/angular-cookies.js"></script>
      <script type="text/javascript" src="libs/js/bootstrap.js"></script>
      <script type="text/javascript" src="libs/js/ui-bootstrap.js"></script>
      <script type="text/javascript" src="libs/js/angular-quartz-cron.js"></script>
      <script type="text/javascript" src="libs/js/smoothie.js"></script>
      <script type="text/javascript" src="libs/js/ui-bootstrap-tpls-0.14.3.js"></script>
      <script type="text/javascript" src="libs/js/mqttws31.js"></script>
      <script type="text/javascript" src="libs/js/XMLDisplay.js"></script>

      <link rel="stylesheet" href="libs/css/app.custom.css"/>
      <!-- API Registry function to use when webapp run out of API container --> 
      <script type="text/javascript">
         function getEndpoints() {
           var basePath = 'http://localhost:8181/cxf';

           return {
                  gviam : basePath +'/gviam',
                  gvscheduler : basePath + '/gvscheduler',
                  gvconfig : basePath + '/gvconfig',
                  gvesb : basePath + '/gvesb',
                  gvmonitoring : basePath + '/gvmonitoring',
                  gvproperties : basePath + '/gvproperties'
                }
         }
      </script> 



	  <!-- API Registry servlet to use when webapp run inside the same container of API 
	  <script type="text/javascript" src="registry"></script> -->
      <script type="text/javascript" src="scripts/app.custom.js"></script>
      <script type="text/javascript" src="scripts/app-auth.js"></script>
      <script type="text/javascript" src="scripts/app-admin.js"></script>
      <script type="text/javascript" src="scripts/app-config.js"></script>
      <script type="text/javascript" src="scripts/app-scheduler.js"></script>
      <script type="text/javascript" src="scripts/app-monitoring.js"></script>
      <script type="text/javascript" src="scripts/app-profile.js"></script>
      <script type="text/javascript" src="scripts/app-xmlconfig.js"></script>
      <script type="text/javascript" src="scripts/app-properties.js"></script>
      <script type="text/javascript" src="scripts/app-flow.js"></script>
   </head>
   <body data-ng-app="gvconsole">
      <div class="row" data-ng-show="globals.currentUser">
		   <div class="side-menu">
		      <nav class="navbar navbar-default" role="navigation">
		         <div class="container">
		            <!-- Hamburger -->
		            <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed" >
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            </button>
		           <!-- Brand and toggle get grouped for better mobile display -->
		            <div class="navbar-header">
		               <div class="brand-wrapper">
		                  <!-- Brand -->
		                  <div id="divLogo" class="brand-name-wrapper">
		                     <a class="navbar-brand col-xs-3 col-sm-12 col-md-12" >
		                     <img id="logo" src="assets/logo.png">
		                     </a>
		                     <div id="gvesb_name" class="col-xs-4 col-sm-12 col-md-12">
		                        <span style="vertical-align: -webkit-baseline-middle">GVESB 4</span>
		                     </div>
		                  </div>
		               </div>
		            </div>
		            <!-- Main Menu -->
		            <div class="side-menu-container">
		               <ul class="nav navbar-nav">
		                  <li data-ng-class="{ active: routeIsIn('/users')}" data-ng-show="globals.currentUser.isAdministrator" ><a id="optionMenu" href="#/users" onClick="slideButtonMenu();"><i class="fa fa-user-circle" aria-hidden="true"></i> Users</a></li>
		                  <li data-ng-class="{ active: routeIsIn('/schedule')}" data-ng-show="globals.currentUser.isAdministrator||globals.currentUser.isSchedulerManager"><a id="optionMenu" href="#/schedule" onClick="slideButtonMenu();"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Scheduling</a></li>
		                  <li data-ng-class="{ active: routeIsIn('/config')}" data-ng-show="globals.currentUser.isAdministrator||globals.currentUser.isConfigManager"><a id="optionMenu" href="#/config" onClick="slideButtonMenu();"><i class="fa fa-cogs" aria-hidden="true"></i> Configuration</a></li>
                      <li data-ng-class="{ active: routeIsIn('/properties')}" data-ng-show="globals.currentUser.isAdministrator||globals.currentUser.isConfigManager"><a id="optionMenu" href="#/properties" onClick="slideButtonMenu();"><i class="fa fa-product-hunt" aria-hidden="true"></i> Properties</a></li>
		                  <li data-ng-class="{ active: routeIsIn('/testing')}" data-ng-show="globals.currentUser.isAdministrator||globals.currentUser.isConfigManager"><a id="optionMenu" href="#/testing" onClick="slideButtonMenu();"><i class="fa fa-code" aria-hidden="true"></i> Testing</a></li>
		                  <li data-ng-class="{ active: routeIsIn('/monitoring')}"><a id="optionMenu" href="#/monitoring" onClick="gototab(); slideButtonMenu();"><i class="fa fa-area-chart" aria-hidden="true"></i> Monitoring</a></li>
                      <li data-ng-class="{ active: routeIsIn('/dashboard')}" data-ng-show="globals.currentUser.isAdministrator||globals.currentUser.isConfigManager"><a id="optionMenu" href="#/dashboard" onClick="slideButtonMenu();"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a></li>
                      <li data-ng-class="{ active: routeIsIn('/xmlconfig')}" data-ng-show="globals.currentUser.isAdministrator||globals.currentUser.isConfigManager"><a id="optionMenu" href="#/xmlconfig" onClick="slideButtonMenu();"><i class="fa fa-wrench" aria-hidden="true"></i> Settings</a></li>
		                  <li class="sidebar_user" data-ng-class="{ active: routeIsIn('/myprofile')}"><a id="optionMenu" href="#/myprofile" onClick="slideButtonMenu();"><i class="fa fa-user" aria-hidden="true"></i> My profile</a></li>
		                  <li><a id="logout" data-ng-click="app.logout()" href="#/login"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
		               </ul>
		            </div>
		         </div>
		         <!-- /.navbar-collapse -->
		      </nav>
		   </div>
		</div>
      <div data-ng-view>
      </div>
   </body>
</html>
