<div class="container-fluid">
   <div class="side-body" data-ng-controller="profileController as ctrl">
      <h1>Welcome in GVESB Console
         <span id="profileName">{{globals.currentUser.username}}</span>!
      </h1>
      <div data-ng-repeat="alert in ctrl.alerts" class="fadeout2 alert alert-{{alert.type}}" role="alert" data-ng-class="{'off': error==true}">{{alert.msg}}</div>
      <!-- Prova Style -->
      <div class="panel panel-default" style="overflow-x:auto; font-size:15px">
         <div class="panel-heading">
            <i class="fa fa-user" aria-hidden="true"></i> Profile
         </div>
         <div class="panel panel-body container-fluid">
            <div class="col-sm-12">
               <label id="labelLeft" class="control-label optionForm col-sm-2">Username:</label>
               <p class="col-sm-2">{{globals.currentUser.username}}</p>
            </div>
            <div class="col-sm-12">
               <label id="labelLeft" class="control-label optionForm col-sm-2">Full Name:</label>
               <p class="col-sm-2">{{globals.currentUser.userInfo.fullname}}</p>
            </div>
            <div class="col-sm-12">
               <label id="labelLeft" class="control-label optionForm col-sm-2">E-Mail:</label>
               <p class="col-sm-2">{{globals.currentUser.userInfo.email}}</p>
            </div>
         </div>
         <table id="users" class="table table-hover">
            <thead>
               <tr>
                  <th>Role Name</th>
                  <th>Description</th>
               </tr>
            </thead>
            <tbody>
               <tr data-ng-repeat="role in roles">
                  <td style="color:#961e24">{{role.name}}</td>
                  <td style="color:#238650">{{role.description}}</td>
               </tr>
            </tbody>
         </table>
         <div class="panel-footer clearfix" style="text-align: center;">
            <button type="button" onClick="resetFunctionPassword();" class="btn btn-primary pull-right" data-toggle="modal" data-target="#passwordModal{{$index}}">Change Password</button>
         </div>
      </div>
      <!-- Prova Style -->
      <div class="col-md-12">
         <div id="passwordModal" class="modal fadeoutModal">
            <div class="modal-content">
               <form id="passwordForm" name="renewForm" data-ng-submit="changePassword()">
                  <h4>Set new password</h4>
                  <div data-ng-repeat="alert in ctrl.alerts" class="fadeout2 alert alert-{{alert.type}}" role="alert" data-ng-class="{'off': error==false}">{{alert.msg}}</div>
                  <div id="setNewPassword" class="input-group">
                     <span class="input-group-addon">
                     <i class="fa fa-key fa-fw"></i>
                     </span>
                     <input class="form-control" type="password" placeholder="Old Password" name="j_password" data-ng-model="oldPassword" required>
                  </div>
                  <div id="setNewPassword" class="input-group">
                     <span class="input-group-addon">
                     <i class="fa fa-key fa-fw"></i>
                     </span>
                     <input class="form-control" type="password" placeholder="New Password" data-ng-model="newPassword" name="new_password" pattern="(?=^.{4,28}$)^[a-zA-Z0-9._@&$#!?-]+$" required>
                  </div>
                  <span class="help-block small">
                  Length: min 4, max 28
                  <br> Valid chars: a-z A-Z 0-9 &#46; &#95; &#64; &amp; &#36; &#35; &#33; &#63; &#45; (no white space)
                  </span>
                  <button type="button" class="btn" data-dismiss="modal">Back</button>
                  <button type="submit" id="prova" class="btn btn-success" data-ng-disabled="renewForm.new_password.$invalid">Confirm</button>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
