<app-header></app-header>
<div class="container" data-ng-controller="SchedulingDetailController as ctrl">

	<div class="row page-header text-center">
		<h1>New Scheduling</h1>
	</div>

	<div class="row" >
		<form>

			<div class="col-md-offset-4 col-md-4 col-sm-6">
				<div class="form-group clearfix">
					<input type="text" class="form-control text-center" ng-model="schedule.cronExpression">
				</div>
			</div>

			<div class="col-xs-12 text-center">
				<div class="form-group clearfix">
					<quartz-cron-selection output="schedule.cronExpression"></quartz-cron-selection>
				</div>

				<hr>
			</div>

			<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
				<div class="form-group clearfix">
					<label class="control-label col-sm-4">Operation</label>
					<div class="col-sm-8">
						<select class="form-control">
							<option>Operation 1</option>
							<option>Operation 2</option>
							<option>Operation 3</option>
							<option>Operation 4</option>
						</select>
					</div>
				</div>
				<hr>
			</div>

			<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

				<div class="form-group clearfix">
					<label class="control-label col-sm-4">Input data</label>
					<div class="col-xs-12">
						<textarea class="form-control" rows="3" ng-model="schedule.object"></textarea>
					</div>
				</div>
				<label class="control-label col-sm-4">Properties</label>
				<br><br/>
				<div class="form-group clearfix">
					<div class="col-sm-5"><input type="text" class="form-control" ng-model="key" placeholder="key"></div>
					<div class="col-sm-6"><input type="text" class="form-control" ng-model="value" placeholder="value"></div>
					<button class="btn btn-default" ng-click="addParameter()"><i class="fa fa-plus"></i></button>
				</div>
				<div ng-repeat="(key,param) in schedule.properties">
					<div class="form-group clearfix">
						<div class="col-sm-5"><strong>{{key}}</strong></div>
						<div class="col-sm-6">{{param}}</div>
						<a class="close" ng-click="removeParameter(key)">×</a>
					</div>
				</div>


				<div class="clearfix"></div>
				<hr />
				<button class="btn btn-lg btn-block btn-primary">Save Scheduling</button>
			</div>
		</form>
	</div>
</div>
