<app-header></app-header>
<div class="container">

	<div class="row page-header">
		<h1>Scheduling</h1>
	</div>

	<div class="row" data-ng-controller="SchedulingListController as ctrl">

		<div data-ng-repeat="alert in ctrl.alerts" class="alert alert-{{alert.type}}" role="alert">{{alert.msg}}</div>
		

		<div class="panel panel-default">
			<div class="panel-heading clearfix">
				<h3 class="panel-title pull-left" style="line-height: 34px; vertical-align: middle">
					<i class="fa fa-tasks"></i> Found: {{ctrl.list.length}}
				</h3>
				<a href="#/scheduling/new" class="btn btn-primary pull-right">
					<i class="fa fa-plus"></i> Add New Schedule
				</a>
			</div>
			<table id="flows" class="table table-hover" >
				<thead >
					<tr>
						<th>Id</th>
						<th>Operation</th>
						<th>Pattern</th>
						<th>Status</th>
						<th class="text-right">Action</th>
					</tr>
				</thead>
				<tbody>

					<tr data-ng-repeat="entry in ctrl.list">
						<td>{{entry.id}}</td>
						<td>{{entry.description}}</td>
						<td>{{entry.cronExpression}}</td>
						<td>{{entry.status}}</td>
						<td class="text-right">
							<a class="btn btn-warning btn-sm" href="#" aria-label="Delete">
								<i class="fa fa-pause" aria-hidden="true"></i> Pause
							</a>
							<a class="btn btn-success btn-sm" href="#" aria-label="Delete">
								<i class="fa fa-play" aria-hidden="true"></i> Resume
							</a>
							<a class="btn btn-danger btn-sm" href="#" aria-label="Delete">
								<i class="fa fa-trash-o" aria-hidden="true"></i> Delete
							</a>
						</td>

					</tr>


				</tbody>


			</table>

			<div class="panel-footer" style="text-align: center">
				<pagination data-ng-show="ctrl.users.lenght>10" style="margin: 0" total-items="ctrl.users.lenght" ng-model="ctrl.currentPage" class="pagination-sm" boundary-links="true" rotate="false"></pagination>
			</div>

		</div>
	</div>

</div>
