<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0" default-activation="lazy">

    <bean id="gvDebugger" class="it.greenvulcano.gvesb.core.debug.engine.GVDebuggerEngine" />

    <service ref="gvDebugger" interface="it.greenvulcano.gvesb.core.debug.GVDebugger"/>

</blueprint>