<div class="container" data-ng-controller="LoginController">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 " style="margin-top: 32px">
			<div id="error-message" class="alert alert-danger" role="alert"
				data-ng-show="error">{{errorMessage}}</div>
		</div>
		<div class="col-sm-6 col-sm-offset-3 ">
			<div class="panel panel-default" style="margin-top: 10%">

				<div class="panel-body"
					style="padding-bottom: 130px; background: rgba(0, 0, 0, 0) url('img/footer.png') no-repeat scroll right bottom;">
					<img src="img/header.png" ></img>

					<form name="loginForm" class="form" data-ng-submit="login()" role="form" data-ng-hide="expired" style="margin-top: 64px">
												
							<div class="form-group">
								<input type="text" name="j_username" class="form-control"
									placeholder="Username" data-ng-model="username" required>								
							</div>
							<div class="form-group">
								<input type="password" name="j_password" class="form-control"
									placeholder="Password" data-ng-model="password" required>								
							</div>
							<div class="form-group pull-right">
								<button class="btn btn-primary" data-ng-click="loginForm.submitted = true"
									data-ng-disabled="loginForm.$invalid || dataLoading">LOGIN</button>
								<img data-ng-show="dataLoading"
									src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
							</div>
					</form> 	
					
					<form name="renewForm" class="form" data-ng-submit="changePassword()" role="form" data-ng-show="expired">	
						
							<h3 class="text-danger text-center">Password expired</h3>
							
							<div class="form-group" style="margin-top: 48px" data-ng-class="{ 'has-success': loginForm.new_password.$valid }">
								<label for="new_password" class="control-label">Enter a new password</label>
								<input type="password" name="new_password" class="form-control"
									placeholder="New password" data-ng-model="newPassword"
									pattern="(?=^.{4,28}$)^[a-zA-Z0-9._@&$#!?-]+$" required>					       		
			  				 		<span class="help-block small">			  				 			  				  				 			
			  				 			 Length : min 4, max 28 - Valid chars: a-z A-Z 0-9 &#46; &#95; &#64; &amp; &#36; &#35; &#33; &#63; &#45; (no white space)
			  				 		</span>
			  				 	
							</div>
							<div class="form-group pull-right">
								<button class="btn btn-danger"
									data-ng-disabled="renewForm.new_password.$invalid || dataLoading">CONFIRM</button>
								<img data-ng-show="dataLoading"
									src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
							</div>
						
					</form>
				</div>
			</div>
		</div>
	</div>
</div>