<app-header></app-header>
<div class="container" data-ng-controller="FlowDetailController as ctrl">
	
	<div class="row page-header text-center">
		<h1 data-ng-hide="newUser">Flow: name {{ctrl.user.username}}</h1>
				 
	</div>
	
	<div class="row" >
		<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
			<form>
				<div class="form-group clearfix">
					<div class="col-xs-11">
						<label class="control-label">Payload </label>
						<textarea class="form-control" rows="3"></textarea>
					</div>
				</div>
				<div class="valorkey" ng-repeat="(param,key) in params">
					<div class="form-group clearfix">
						<div class="col-sm-5"><input type="text" class="form-control" ng-model="param.key" placeholder="key"></div>
						<div class="col-sm-6"><input type="text" class="form-control" ng-model="param.value" placeholder="value"></div>
						<a class="close" ng-click="removeParameter(key)">×</a>
					</div>
				</div>
			</form>
			<div class="form-group">
				<div class="col-xs-12">
					<button class="btn btn-default" ng-click="addParameter()"><i class="fa fa-plus"></i> Add key/value</button>
				</div>
			</div>
			<div class="clearfix"></div>
			<hr />
			<button class="btn btn-lg btn-block btn-primary">Run Flow</button>
			<hr>
			<div class="alert alert-info">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sem diam, feugiat ut congue ut, lacinia in orci. Quisque pharetra interdum lorem, ac auctor orci hendrerit et. Sed vitae odio vitae dui sodales tincidunt a vitae tortor. Aenean vestibulum ex urna, non lobortis ex dapibus condimentum.
			</div>
		</div>
	</div>
</div>
	
